[2012-01-04 14:30] mrook opened #1 "IntrospectionHelper shouldn't cause __autoload() to be called"
The IntrospectionHelper is checking return values in phpdoc comments for possible class names and does a check with class_exists(). This will cause {{{__autoload()}}} to be called if defined. Since this code has no reason to call {{{__autoload()}}} it shouldn't since it would most likely break. Typically {{{@return void}}} etc.

The fix is to set the second parameter to {{{class_exists}}} to false

[2012-01-04 14:30] #1 closed, assigned to mrook

[2012-01-04 14:30] mrook opened #2 "Website: Apache default website at www.phing.info"
http://www.phing.info/ shows the default Apache website. Made me very nervous for a little while this morning ...

[2012-01-04 14:30] #2 closed, assigned to mrook

[2012-01-04 14:30] mrook opened #3 "Lint Task not defined"
The Lint task does not seem to be defined in tasks/default.properties yet.

Adding
<taskdef name="lint" classname="phing.tasks.ext.PhpLintTask"/>
to build.xml is a workaround for the moment.

[2012-01-04 14:30] #3 closed, assigned to mrook

[2012-01-04 14:30] mrook opened #4 "Lint Task fails"
The Lint task fails for me because the files to syntax check are not found, at least when I use a fileset with a directory different from ".". Seems that when the Lint task creates the file list, the fileset base path is ommitted.

Changing line 46 of tasks/ext/PhpLintTask.php to

[code]

fixes this problem, though I am not sure if this will work all the time. For me, it does, however.

[2012-01-04 14:30] #4 closed, assigned to mrook

[2012-01-04 14:30] mrook opened #5 "new pear install doesn't work with pear 1.4.5"
The install process via pear on the current home page results in an installation that's missing the phing.php and/or Phing.php in the php include path.  Upgrading to pear 1.4.7 seems to fix the problem.

Also, your version dropdown is lacking 2.2.0RC1, which is the version I saw this bug on.

Stop watching the Steve-note and upgrade! :)

[2012-01-04 14:30] #5 closed, assigned to mrook

[2012-01-04 14:30] mrook opened #6 "I couldnot create a correct coverage-report."
'''[2.2.0RC1]'''

Hi folks!

Got always a
{{{
PHP Error Phing::inlcude_once(\myLogger.php):
  failed to open stream:
    Invalid argument [line 860 of D:\PHP\phing-2.2.0RC1\classes\phing\Phing.php]
}}}

Two thinks might be helpful:
First, the path of the file is ''myLogger.php'' is ''D:\PHP\OpenDocumentPHP\poc\src\myLogger.php5''.

Secound, the error occurs when phing executes this part of the bui

[2012-01-04 14:30] #6 closed, assigned to mrook

[2012-01-04 14:30] mrook opened #7 "Add API documentation"
both API docs (current and 2.2.0) down :&

see http://phing.info/trac/wiki/Users/Documentation/API

[2012-01-04 14:30] #7 closed, assigned to mrook

[2012-01-04 14:30] mrook opened #8 "TarTask seem to omit empty directories"
Reproducable example:
  <target name="empty">
    <mkdir dir="empty/empty"/>
    <tar compression="gzip" destFile="empty.tar.gz" basedir="empty"/>
  </target>

Should do the same as:
mkdir empty
cd empty
mkdir empty
tar czvf empty.tar.gz empty

[2012-01-04 14:30] #8 closed, assigned to mrook

[2012-01-04 14:30] mrook opened #9 "CreoleSQLExecTask fails with Oracle"
I want to execute SQL code on a Oracle 10gR2 base but the Oracle driver throws an exception:
{{{
ORA-00911: invalid character
}}}

So I looked to the code and found that the trailing delimiter is not removed. Mysql doesn't care about it but Oracle does.
This is the patch I use to fix it:
{{{
# Index: classes/phing/tasks/ext/CreoleSQLExecTask.php

--- classes/phing/tasks/ext/CreoleSQLExecTask.php

[2012-01-04 14:30] #9 closed, assigned to mrook

[2012-01-04 14:30] mrook opened #10 "Mappers broken: missing argument for constructor"
Using mappers is currently broken and gives an error message:
''Fatal error: Argument 1 must be an object of class Project in /path/to/phing/2.2.0RC1/classes/phing/types/Mapper.php on line 52''

Mapper seems to be instantiated in {{{Project::createDataType()}}} with {{{$type = new $cls();}}} on line 650. However {{{Mapper::__construct()}}} requires an argument of type Project which is missing here

[2012-01-04 14:30] #10 closed, assigned to mrook

[2012-01-04 14:36] mrook opened #11 "User guide - Wrong property use"
In the user guide PropertyTask example, the properties are inserted into the attributes with the dollar sign after the opening curly bracket, instead of before like it should be:
http://phing.info/docs/guide/current/chapters/appendixes/AppendixB-CoreTasks.html#PropertyTask

I'm new to Phing and this simple mistake made me lose lots of time.

[2012-01-04 14:36] #11 closed, assigned to mrook

[2012-01-04 14:36] mrook opened #12 "User guide - Wrong ResolvePathTask use"
The user guide's resolvepath example uses the element 'resolve' instead of 'resolvepath':
http://phing.info/docs/guide/current/chapters/appendixes/AppendixB-CoreTasks.html#ResolvePathTask

[2012-01-04 14:36] #12 closed, assigned to mrook

[2012-01-04 14:37] mrook opened #13 "Mappers broken: missing argument for constructor"
Using mappers is currently broken and gives an error message:
''Fatal error: Argument 1 must be an object of class Project in /path/to/phing/2.2.0RC1/classes/phing/types/Mapper.php on line 52''

Mapper seems to be instantiated in {{{Project::createDataType()}}} with {{{$type = new $cls();}}} on line 650. However {{{Mapper::__construct()}}} requires an argument of type Project which is missing here

[2012-01-04 14:37] #13 closed, assigned to mrook

[2012-01-04 14:37] mrook opened #14 "PHPDocumentorTask adds single-quotes in title"
If I enter title="DOC-TITLE" in the build file, the generated doc will have 'DOC-TITLE' as the title (with the quotes).

It looks like this is due to the function PHPDocumentorTask::constructArguments(), this line:

$arguments.= "-ti '" . $this->title . "' ";

I'm on a windows machine so the single-quotes can't be used to put a string for an argument. This error also prevents me from putting a spa

[2012-01-04 14:37] #14 closed, assigned to mrook

[2012-01-04 14:50] mrook opened #15 "FTP upload task"
Would be very nice for Continous Integration

[2012-01-04 14:50] #15 closed, assigned to mrook

[2012-01-04 14:50] mrook opened #16 "Typo on Home Page"
In the main headline: "Welcome to the Phing Poject Website"
The word "Poject" should be "Project"

[2012-01-04 14:50] #16 closed, assigned to mrook

[2012-01-04 14:50] mrook opened #17 "Code Coverage Reports &amp; instead of &"
Hi folks,

i saw that in the generated code coverage reports all & will be converted to "& amp ;". That is a good idea, but not if you want an ">" => "&g t ;" => "& amp ;gt;" ...

Thanks in advance

Norman

[2012-01-04 14:50] #17 closed, assigned to mrook

[2012-01-04 14:50] mrook opened #18 "Missing the "else" part ..."
Hi folks,

i saw this on some of my code reports this morning. Look at the folling if statment:

if (x > 0) {
  //foo
} else {
  // bar
}

The code coverage report tells me that it handled the foo-part and the bar-part and also the if-part but tells me, it doesn't cover the else-part. This will lead to wrong coverage outputs even when it is summed up.

Thanks in advance

Norman

[2012-01-04 14:50] #18 closed, assigned to mrook

[2012-01-04 14:50] mrook opened #19 "Pear package creation - phing.home conflict"
In the phing/pear/build.xml file, the property phing.home is set with the override attribute set to false. The property is never set because phing.home is set at startup. Because of this, you can't use this build file to create a pear package from source files other than the phing sources you're currently using.

To fix this, the build file can be modified so that it uses a property with a differe

[2012-01-04 14:50] #19 closed, assigned to mrook

[2012-01-04 14:50] mrook opened #20 "User guide - Built-in properties"
The built-in property list has several mistakes.
http://phing.info/docs/guide/current/chapters/appendixes/AppendixA-FactSheet.html#BuiltInProperties

These supposedly properties aren't set:
phing.buildfile (phing.file is set instead), phing.id, project.name (phing.project.name is set instead), project.description

These properties aren't mentioned in the list:
env.???, host.os, os.name (seems to b

[2012-01-04 14:50] #20 closed, assigned to mrook

[2012-01-04 14:50] mrook opened #21 "svn tasks doesn't work"
I use the current svn version 1.3.0 on a local windows machine.
Both, the <svnexport> and <svnlastrevision> tasks seems to doesn't work.
The <svnlastrevision> throws an exception with the message, that it failed to parse the output of 'svn info'.
The <svnexport> tasks do nothing. I get the message that it exports the repository to my directory, but this is always empty.

[2012-01-04 14:50] #21 closed, assigned to mrook

[2012-01-04 14:50] mrook opened #22 "Description about integrating into CruiseControl"
Maybe it is a good idea to describe how to integrate phing into CruiseControl.

[2012-01-04 14:50] #22 closed, assigned to mrook

[2012-01-04 14:50] mrook opened #23 "Concat two or more files into one."
I like to have a task like the concat task in ANT, so you can merge to or more files into a single new file.

[2012-01-04 14:50] #23 closed, assigned to mrook

[2012-01-04 14:50] mrook opened #24 "Cannot import class file located in a directory named that includes dot"
Cannot import class file located in a directory named that includes dot(such as "Foo-x.y.z\FooTask.php").

I propose a solution to fix it.

{{{
Phing::import() {
  :
  $path = strtr($dotPath, '.', DIRECTORY_SEPARATOR) . ".php";
  :
}

}}}

to

{{{
Phing::import() {
  :
  $dotClassname = basename($dotPath);
  $dotClassnamePos = strlen($dotPath) - strlen($dotClassname);
  $classFile = strtr($dotClas

[2012-01-04 14:50] #24 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #25 "phing script does not run on some platforms"
The phing CLI script uses bash syntax, but its shebang line points to sh.  This works on Linux, where sh is usually just a variant of bash.  However it will '''not run at all''' on more traditional UNIXes like Solaris.

this:

{{{
export PHP_COMMAND="/usr/local/bin/php"
}}}

should be:

{{{
PHP_COMMAND=/usr/local/bin/php
export PHP_COMMAND
}}}

This is a tiny mistake; but it has a big impact!

[2012-01-04 14:51] #25 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #26 "Strange behavior with the "dir" property in the PhingTask"
Hi, I've notice a really strange behavior in the task PhingTask with the ''dir'' property.

I've a build.properties with only one property inside :

{{{
propel.generator.home = Libraries\propel-1.2.0RC1\generator
}}}

And in my build file I try to call an other build like this :

{{{
<phing phingfile="build.xml" inheritAll="true" dir="${propel.generator.home}" target="creole">
  <property name="pr

[2012-01-04 14:51] #26 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #27 "After upgrading to phpDocumentor 1.3.0 RC6 <phpdoc> does not work anymore"
Hi folks,

after upgrading from phpDocumentor 1.3.0RC5 to RC6 the following line:

<phpdoc title="OpenDocumentPHP" destdir="docs/${release}"
    sourcepath="src" output="HTML:Smarty:PHP"
    linksource="true"/>

doesn't work any more. After a downgrade, everything works again. Maybe something in RC6 has changed? I couldn't investigate any further right now.

Thanks,
Norman

[2012-01-04 14:51] #27 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #28 "phpunit2 classes do not implement all required methods for phpunit2-3.0.0"
C:\vx\tests\unit>phing
Buildfile: C:\vx\tests\unit\build.xml

Fatal error: Class XMLPHPUnit2ResultFormatter contains 1 abstract method and mus
t therefore be declared abstract or implement the remaining methods (PHPUnit2_Fr
amework_TestListener::addSkippedTest) in c:\php\PEAR\phing\tasks\ext\phpunit2\XM
LPHPUnit2ResultFormatter.php on line 37

 ... SNIP ...

Fatal error: Class PlainPHPUnit2ResultF

[2012-01-04 14:51] #28 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #29 "Implement changes to use PHPUnit2 3.0 code coverage information"
From Sebastian Bergmann:

For PHPUnit 3.0 I changed the result format of the
 PHPUnit2_Framework_TestResult::getCodeCoverageInformation() method from

[code]

 to

[code]

[2012-01-04 14:51] #29 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #30 "<fileset dir="."> does include more than expected"
Hi folks,

when I put the following lines in my build.xml file
{{{
# !xml

<target name="dev-dist" depends="preparedist">
  <zip destfile="dist/OpenDocumentPHP-dev.zip" basedir=".">
   <fileset dir=".">
     <include name="**/**"/>
     <exclude name="dist/**"/>
     <exclude name="reports/**"/>
     <exclude name="docs/**"/>
     <exclude name="production/**"/>
   </fileset>
  </zip>
  <tar destf

[2012-01-04 14:51] #30 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #31 "PHPUnit2Util::getDefinedClasses"
PHPUnit2Util::getDefinedClasses issues a notice:

[PHP Error] Undefined index:  ... [line 111 of /usr/share/pear/phing/tasks/ext/phpunit2/PHPUnit2Util.php]

Line 111 should be replaced with:

$declaredClasses = array_merge(get_declared_interfaces(), get_declared_classes());

[2012-01-04 14:51] #31 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #32 "tons of errors in with -debug"
with -debug flag the phing emits tons of warnings. most regarding the wrong use of static/instance access calls. this errors makes it impossible to debug phing. please remove them before 2.2.0 release.

[2012-01-04 14:51] #32 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #33 "framed coverage report has broken links"
well the links are ok, the target files are saved in . root when the package name is not set.

coverage-frames.xsl line 341 old:

<xsl:if test="@name = ''">./xsl:if

should be replaced by:

<xsl:if test="@name = ''">default/xsl:if

[2012-01-04 14:51] #33 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #34 "Phing don't work while zend.ze1_compatibility_mode = On"
If I have zend.ze1_compatibility_mode = On in my php.ini phing gives me such error:
Fatal error: Call to a member function startElement() on a non-object in c:\usr\php5\PEAR\phing\parser\AbstractSAXParser.php on line 77

This happes in 2.2RC1 and RC2, PHP 5.0.2, 5.1.2 and 5.1.4.

If I turn this option off and run phing with -debug parameter I get many errors about static call of non-static methods

[2012-01-04 14:51] #34 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #35 "Fix E_STRICT errors"
There are a number of E_STRICT errors which can be seen when running in -verbose mode.  (w/ PHP 5.1.x)

[2012-01-04 14:51] #35 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #36 "Fix premature RuntimeConfigurable issue"
I reviewed the code with a colleague today and we're pretty sure that
the second solution I came up with is viable.

Normally, the rule is that !TaskHandler will only be used at the top
level of the buildfile (that is, in !ProjectHandler) or in targets
(!TargetHandler).

As soon as a Task has been set up in the target, everything below it is
handled by !NestedElementHandler (see !TaskHandler, abou

[2012-01-04 14:51] #36 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #37 "Top-level (no target) IfTask doesn't work correctly"
The IfTask is prematurely configured when it is not contained within a target.

Simple reproduction:

{{{
<project name="test" default="main" basedir=".">

  <available file="./build.properties" property="globalBuildPopertiesExists"/>

  <if>
    <and>
        <isset property="globalBuildPopertiesExists"/>
    </and>
    <then>
        <echo>Yeah, the property was set!</echo>
    </then>
  </if>

[2012-01-04 14:51] #37 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #38 "Copying empty dirs doesn't work"
Setting includeEmptyDirs="true" in the <copy> task doesn't seem to make any difference.

[2012-01-04 14:51] #38 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #39 "Add missing includepath task and missing classpath attribute of the nested phpunit2/batchtest tag to the user guide"
The user guide is not up-to-date: the whole includepath task and the classpath attribute of the nested phpunit2/batchtest tag are missing.

[2012-01-04 14:51] #39 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #40 "Document the If task and conditions"
Document  the If task and conditions

[2012-01-04 14:51] #40 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #41 "PEAR packages are containing the wrong files"
The PEAR package Phing build script is using the phing.home reserved property, which points to the currently used Phing -- and not the new Phing package.

[2012-01-04 14:51] #41 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #42 "Supported PHPUnit2_Framework_TestSuite and PHPUnit2_Extensions_TestSetup sub-classes for the PHPUnit2Task and CoverageReportTask tasks"
Hello,

Currently the PHPUnit2Task and the CoverageReportTask tasks do not support PUnit2_Framework_TestSuite and PHPUnit2_Extensions_TestSetup sub-classes. We should enhance the tasks to allow such constructs.

Optional we can wait for phpunit 3.0 which has – as far as I know - an advanced build-in code coverage mechanism.

Cheers,

Bernd

[2012-01-04 14:51] #42 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #43 "TarTask does not exclude directories when using fileset"
Currently if the ''basedir'' attribute is set, then a include-all fileset is created at that directory.  Arguably, this is "supposed" to happen, but it creates some bugs that are hard to track down, in the event that you do something like this for your !TarTask:

{{{
# !xml

<tar compression="gzip" destFile="${tarfile}" basedir="${build.target.dir}">
    <fileset dir="${build.target.dir}">

[2012-01-04 14:51] #43 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #44 "Add Unzip and Untar tasks contributed by Joakim Bodin"
(This ticket is being create after after the patch has already been applied so that we can track this in the changelog.)

Original work committed by mrook in changeset:107

[2012-01-04 14:51] #44 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #45 "Cannot get phing to work with PHPUnit 3"
Is there a way to get this working?

[2012-01-04 14:51] #45 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #46 "\<match>-syntax does not work correctly with preg_*()"
phing.util.regexp.PregEngine->replace() tries to replace \1 with $1 but uses an incorrect match-string for it. Fix appended

[2012-01-04 14:51] #46 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #47 "_makeCircularException seems to have an infinite loop"
In the file: trunk/classes/phing/Project.php, there is a method _makeCircularException defined at line 840.

This method mentions a local variable $c, which is uninitialized and referenced only in the while of a do/while loop.

It seems that $c will never = $end and therefore the loop is infinite.

If I am correct, then I think it probably should be coded as:

{{{
    function _makeCircularExcepti

[2012-01-04 14:51] #47 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #48 "TaskHandler passing incorrect param to ProjectConfigurator->configureId()"
In classes/phing/parser/TaskHanlder.php,

Line 152:
{{{
 $configurator->configureId($task, $attrs);
}}}

Should be
{{{
 $configurator->configureId($this->task, $attrs);
}}}

Thanks, Scott

[2012-01-04 14:51] #48 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #49 "FileList.getListFile method references undefined variable"
In classes/phing/types/FileList.php, the method getListFile has no parameters and yet references `$p` without defining it.

Unfortunately, I'm not sure how to fix it, but it probably needs to be corrected.

[2012-01-04 14:51] #49 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #50 "Path::listPaths() broken for DirSet objects."
In `Path::listPaths` when looking at a `DirSet` object, Line 264, has a couple of problems.
1.  I can't find the method `addUnlessPresent` defined anywhere.
2.  the call references an undefined variable.

I think that Line 264 should probably be removed, but don't know that for certain.
{{{
  $this->addUnlessPresent($result, $dir, $s);
}}}

Thanks, Scott

[2012-01-04 14:51] #50 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #51 "Phing Doesn't Fail When PhpDoc Task Fails"
Phing does not fail when a Phpdoc child task itself fails, and I can't tell from the manual that there is any way to tell Phing to fail when the PhpDoc task fails.

I've tested this several ways:
- put bad values in phpdoc's args, to force an "ERROR" message from phpdoc itself;
- kill the php process while phpdoc was running;
- phpdoc threw an malloc() failure due to low memory;

In all cases, Phi

[2012-01-04 14:51] #51 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #52 "phing.buildfile.dirname built-in property"
I need a way to identify the directory name that contains the buildfile, WITHOUT the path leading up to that directory name.  Could this be added as a built-in property, perhaps something like phing.buildfile.dirname?

[2012-01-04 14:51] #52 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #53 "Configured -logger can get overridden"
When both -logger and -logfile are specified the logger classname can be overridden.

[2012-01-04 14:51] #53 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #54 "Build listeners currently not working"
Listeners specified on the commandline with -listener arg are not being added to the Project build currently.

[2012-01-04 14:51] #54 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #55 "Convert all loggers/listeners to use streams"
Currently the default loggers in Phing just use '''print()''' to echo stuff out to STDOUT.  This works fine until you want to specify a -logfile, which is ''supposed'' to be the file to which all -logger output is written.  Currently only supported loggers (!PearLogger and !XmlLogger) will respect the -logfile settings.

We should use streams everywhere in the build listeners / loggers to get arou

[2012-01-04 14:51] #55 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #56 "Incorrectly set PHP_CLASSPATH in phing.bat"
The PHP_CLASSPATH is not resolving correctly in phing.bat (under WinXP) because it includes quotation marks (").

This only affects systems where:
- PHING_HOME is not defined
- Phing classes are not already on the include_path

[2012-01-04 14:51] #56 closed, assigned to mrook

[2012-01-04 14:51] mrook opened #57 "Add PDO SQL execution task"
Add <pdo> task for performing SQL execution using PDO.

[2012-01-04 14:52] #57 closed, assigned to mrook

[2012-01-04 14:52] mrook opened #58 "Xinclude filter"
I wanted to use Phing to process some Docbook XML files.  One common way of including chapter files in a Docbook book is to use parameter entities.  Unfortunately, I found that PHP's XML classes don't support parameter entities (this is a PHP issue, independent of Phing).

So I thought I could use the more modern and flexible Xinclude syntax to include chapter files in my Docbook book, instead of

[2012-01-04 14:52] #58 closed, assigned to mrook

[2012-01-04 14:52] mrook opened #59 "mkdir and delete tasks don't work properly together"
I have attached a build.xml that I am using for a project. It is very simple, there is an init task which all other tasks (except clean) depend on, this should create a folder called "build". The clean task deletes this folder. These tasks work fine when run individually. However, when I try run the clean task and then a task which depends on init I see very strange behaviour:

On the first run of

[2012-01-04 14:52] #59 closed, assigned to mrook

[2012-01-04 14:52] mrook opened #60 "Create Project class constants for log levels (replacing PROJECT_MSG_*)"
Replace the PROJECT_\* log level constants with new Project::\* constants.  Note that we will keep the existing constants, but they will be deprecated and removed in Phing 2.4.

[2012-01-04 14:52] #60 closed, assigned to mrook

[2012-01-04 14:52] mrook opened #61 "Add "-p" alias for project help"
To be compatible with Ant, we may as well add a "-p" commandline alias for the project help.  (Currently "-l" is project help in Phing, although in Ant "-l" is equivalent to "-logfile").

[2012-01-04 14:52] #61 closed, assigned to mrook

[2012-01-04 14:52] mrook opened #62 "Remove use of getProperty("line.separator") in favor of PHP_EOL"
PHP_EOL is available since 5.0.2, so obviously we should be using it instead of the "line.separator" property set in Phing class.

[2012-01-04 14:52] #62 closed, assigned to mrook

[2012-01-04 14:52] mrook opened #63 "Semantical error in PhingFile::getParent()"
a semantical error in class PhingFile prevents method getParent() to return
the parent of a directory or file if the parent is the root directory of the
filesystem.

example:

{{{
  $file = new PhingFile( "/tmp" );
  $parent = $file->getParent(); // $parent is null instead of "/"
}}}

a patch that fixes this problem is attached to this ticket.
the patch is created against current revision 147.

[2012-01-04 14:52] #63 closed, assigned to mrook

[2012-01-04 14:52] mrook opened #64 "Phing commandline args don't support quoting / spaces"
Currently, if you attempt to execute Phing with arguments in quotation marks, it will not parse correctly:

{{{
phing "-Dcvstimestamp=2007-02-13 17:21:06 GMT" build
}}}

Results in:

{{{
Buildfile: /home/cruiser/cc-sandbox/build.xml

BUILD FAILED
Target '17:21:06' does not exist in this project.
Total time: 0.0916 seconds
}}}

[2012-01-04 14:52] #64 closed, assigned to mrook

[2012-01-04 14:52] mrook opened #65 "files excluded by fileset end up in .tgz but not .zip"
I am trying to build 2 archives (a .tgz and a .zip) from a CVS checkout, excluding all the CVS folders. So I define a file set like so:
{{{
# !xml

  <fileset dir="." id="archive.files">
    <include name="**/**"/>
    <exclude name="CVS/**"/>
    <exclude name="CVSROOT/**"/>
    <exclude name="build/**"/>
    <exclude name="build.xml"/>
  </fileset>
}}}

I then have two targets like so:
{{{
# !xm

[2012-01-04 14:52] #65 closed, assigned to mrook

[2012-01-04 14:52] mrook opened #66 "Overhaul PhpDocumentor task"
1. Rename PHPDocumentorTask -> !PhpDocumentorTask to be consistent with !PhpDocumentor naming
2. Actually integrate directly with !PhpDocumentor instead of using commandline
3. Support fuller range of options, (ideally) filesets, and also external config files

[2012-01-04 14:52] #66 closed, assigned to mrook

[2012-01-04 14:52] mrook opened #67 "taskdef doesn't support fileset"
If you try this:
{{{
    <taskdef name="gettext-findstr" classname="phing.tasks.PhpLintTask" />
    <gettext-findstr>
        <fileset dir=".">
            <include name="**/*.php" />
        </fileset>
    </gettext-findstr>
}}}

You will have this error message:
{{{
Fatal error: Argument 1 passed to IntrospectionHelper::createElement() must not be null, called in /home/noplay/coding/phing/classe

[2012-01-04 14:52] #67 closed, assigned to mrook

[2012-01-04 14:52] mrook opened #68 "(SVN doc) ${phing.version} and ${php.version} are different!"
Hi,

In the current svn user guide you will find:

||phing.version || Current Phing version. This property equals the value of the PHP constant PHP_OS (see PHP Manual). Possible values are Linux, Win32 and WINNT, for example.||
||php.version || Version of the PHP interpreter. Same as PHP constant PHP_VERSION  (see PHP Manual).||

I think this is a 'copy&paste' error, isn't it? phing.version is the

[2012-01-04 14:52] #68 closed, assigned to mrook

[2012-01-04 14:52] mrook opened #69 "Allow escaped dots in classpaths"
Allow ability to specify paths with escaped dots like classpath="my.path.to.conf.project" or something.

This was originally opened as a Propel bug (http://propel.phpdb.org/trac/ticket/90) but looks to be a Phing issue.

[2012-01-04 14:52] #69 closed, assigned to mrook

[2016-10-09 11:16] phing-issues-importer opened #531 "Integrate SPL into Phing (Trac #281)"
Integrate [http://ru.php.net/manual/en/book.spl.php SPL] features (Iterator, ArrayAccess...) to Phing, as [http://phing.tigris.org/servlets/ReadMsg?list=dev&msgNo=782 discussed].

Migrated from https://www.phing.info/trac/ticket/281

[code]

[2016-10-09 11:16] phing-issues-importer opened #532 "Build Progress Bar (Trac #305)"
Could we have a progress bar that displays some sort of feedback that Phing is doing something please? So on a build that takes some time, the user is getting some sort of visual feedback, that Phing is actually working OK?

Migrated from https://www.phing.info/trac/ticket/305

[code]

[2016-10-09 11:16] phing-issues-importer opened #533 "IfTask boolean issues with predefined properties (Trac #383)"
Hi all,

I discovered an anomaly in the IfTask in combination with the failureproperty of the PhpUnittestTask.

The environment is Phing 2.3.3 with PHPUnit 3.3.17 on Ubuntu 9.10 using bash.

If you initialize the property used as failureproperty in the PhpUnittestTask through a PropertyTask first, the IfTask does no longer work as expected.
I attached three example build scripts to clarify this, b

[2016-10-09 11:16] phing-issues-importer opened #534 ""true" not handled consistently <equals ... arg2="true"> should be the same as <istrue ...>? (Trac #495)"
I just ran into a bug/issue where the value "true" is not handled consistently. This code shows the problem:

[code]

One would expect (or at least I did) that the <equals> test would be true and you'd get the first message ('Test === true'). Instead the test fails and you get the second test.

In the <property> task, the string "true" is actually being converted into "1" ("false" gets converted t

[2016-10-09 11:16] phing-issues-importer opened #535 "Properties not being set on subsequent sets. (Trac #511)"
Observe the behaviour of the attached files.
The returned value from the PhpExecTask in test3 (rand), is not overwritting the previous value each time.

Migrated from https://www.phing.info/trac/ticket/511

[code]

[2016-10-09 11:16] phing-issues-importer opened #536 "Aliases for targets (Trac #556)"
I often find myself needing to give several names to the same task.
I usually do it this way:

[code]

I'd like to propose the addition of an "alias" attribute for the "target" tag. Therefore, the example above could be rewritten as:

[code]

Migrated from https://www.phing.info/trac/ticket/556

[code]

[2016-10-09 11:16] phing-issues-importer opened #537 "includePath using project.basedir is failing under certain conditions (Trac #586)"
Summary:

If running `phing -f path/to/build.xml myTarget` and using an `<includePath>` that uses ${project.basedir}, the wrong path is added.

Details

As I understand it, project.basedir is set to the basedir of the build.xml file. But under some circumstances it seems to be set to the current working directory for part of the build, and to the basedir of the build.xml for the rest of the build.

[2016-10-09 11:17] phing-issues-importer opened #538 "Copy task does overwrite even though overwrite="false" (Trac #605)"
If the source file is touched (i.e. mtime changed) then phing copyTask will overwrite destination no matter thay overwrite="false" is set. This is very unexpected.

Migrated from https://www.phing.info/trac/ticket/605

[code]

[2016-10-09 11:17] phing-issues-importer opened #539 "Using booleans as string values leads to strange results (Trac #633)"
I'm using a ReplaceRegexp filter to change WordPress' wp-config.php file. In this file a constant WP_DEBUG is defined false and I would to change it to true. I have defined the regex and provided a property with a string "true". However this string will be casted to a bool and causes strange sideeffects.

Consider this build.xml example:

[code]

If you would run this it would not work as expected

[2016-10-09 11:17] phing-issues-importer opened #540 "a bunch of tasks to work with s3cmd to interact with Amazon S3 (Trac #686)"
I have created a suite of tasks to work with s3cmd to interact with Amazon S3, there sources are here: https://github.com/AntonStoeckl/Phing-Additions/tree/master/tasks/ext/Service/Amazon

Again, no unit test yet. For proper unit tests there must be a S3 bucket and I can't supply my account. Not sure if it makes sense to unit test only the supplied options?

Please have a look at it so we can talk

[2016-10-09 11:17] phing-issues-importer opened #541 "Add documentation search (Trac #714)"
Add (Google) search to the documentation page(s)

Migrated from https://www.phing.info/trac/ticket/714

[code]

[2016-10-09 11:17] phing-issues-importer opened #542 "Modify Version Task for more flexibility (Trac #749)"
Just break the borders of the three-parted version number and make a n-parted number. So you can do buildnumber with it (one part), 2parted version for only major/bugfix (most small extension use that) and the normal 3-parted major/minor/bugfix number.

It is not backwards compatible ...

Migrated from https://www.phing.info/trac/ticket/749

[code]

[2016-10-09 11:17] phing-issues-importer opened #543 "Refactoring: use PHP_CodeCoverage to improve/replace coverage-setup/coverage-merger tasks (Trac #764)"
Migrated from https://www.phing.info/trac/ticket/764

[code]

[2016-10-09 11:17] phing-issues-importer opened #544 "Add Git Submodule Init Task (Trac #778)"
In some projects I use git submodules for libraries, basically I add these task in my build.xml

[code]

and use them when deploying. It could be useful to add this tasks to the existing set of Git tasks.

Something like `<gitsubmodules init="false" update="true"/>` would be great.

Migrated from https://www.phing.info/trac/ticket/778

[code]

[2016-10-09 11:17] phing-issues-importer opened #545 "Make it easy to add new inherited types to phing (Trac #786)"
As described in http://phing.tigris.org/ds/viewMessage.do?dsForumId=1079&dsMessageId=2837433 it should be easier to add new types to phing.

Migrated from https://www.phing.info/trac/ticket/786

[code]

[2016-10-09 11:17] phing-issues-importer opened #546 "Add fileset support for arg in Exec tasks (Trac #842)"
It would be nice to be abble to give a fileset as an arg to an exec task, like for instance :

[code]

Migrated from https://www.phing.info/trac/ticket/842

[code]

[2016-10-09 11:17] phing-issues-importer opened #547 "Using parse_ini_file function for property files (Trac #855)"
I think, it is good idea to use parse_ini_file (http://php.net/manual/en/function.parse-ini-file.php) in classes/phing/system/util/Properties.php (parse method) instead of the current algo on php.

For example, it allows to use newlines in values of the parameters, and other benefits of parse_ini_file().

So this current code

[code]

can be replaced with the following

[code]

Migrated from https

[2016-10-09 11:17] phing-issues-importer opened #548 "SvnProplistTask (Trac #858)"
If you need the SvnProplistTask you can use the file in the attachment

Migrated from https://www.phing.info/trac/ticket/858

[code]

[2016-10-09 11:17] phing-issues-importer opened #549 "SvnPropgetTask (Trac #861)"
If you need the SvnPropgetTask you can use the file in the attachment

Migrated from https://www.phing.info/trac/ticket/861

[code]

[2016-10-09 11:17] phing-issues-importer opened #550 "SvnPropsetTask (Trac #862)"
If you need the SvnPropsetTask you can use the file in the attachment

Migrated from https://www.phing.info/trac/ticket/862

[code]

[2016-10-09 11:17] phing-issues-importer opened #551 "Find build.xml file in parent directory tree (Trac #864)"
It should be possible to run `phing` in a subdirectory of a project, when the
`build.xml` file is in the root dir of the project.

This would keep people from constantly switching directories just to run phing, and allow to run phing tasks on different working directories (current subdirectory).

To prevent security problems and BC breaks, project files should have a new attribute in their xml tha

[2016-10-09 11:17] phing-issues-importer opened #552 "Add section about build loggers/listeners to docs (Trac #879)"
Migrated from https://www.phing.info/trac/ticket/879

[code]

[2016-10-09 11:18] phing-issues-importer opened #553 "Add 'hide input' attribute to InputTask (Trac #885)"
When prompting users for passwords it would be nice to be able to hide the user's input to certain prompts/inputs.

Thank You!

Migrated from https://www.phing.info/trac/ticket/885

[code]

[2016-10-09 11:18] phing-issues-importer opened #554 "phing should get a strict mode (Trac #918)"
Phing should be able to get into a strict mode (default: on).

If strict is on, all warnings should be converted to an error (and this would mean the script is abborted).

This would be handy in addition to ticket https://www.phing.info/trac/ticket/917 as you can ensure, all properties are explicitly set and there is a high chance that the build is stable and as configured.

phing -no-strict is po

[2016-10-09 11:18] phing-issues-importer opened #555 "AvailableTask - value attribute seems inconsistent (Trac #950)"
Hi,

It seems that the value attribute (to me anyway) is inconsistent with it's 'types'.

I've create a quick build as a test, if you run it hopefully my point will make sense but essentially it boils down to this:

Test1: If you don't set a value attribute on AvailableTask it (as per the docs) defaults to (string) true.

Test2: If however you set the value attribute to (string) true yourself it c

[2016-10-09 11:18] phing-issues-importer opened #556 "Can not delete git folders on windows (Trac #956)"
Demo buildscript:

[code]

properties

[code]

Error output:

[code]

System: Win7 64bit, msysgit 1.7.10

As per IRC, might be caused by unclosed files or permissions

Migrated from https://www.phing.info/trac/ticket/956

[code]

[2016-10-09 11:18] phing-issues-importer opened #557 "Repeated prompt when Input task is used within Then block (Trac #1006)"
Using an input task within the `then` block of an `if` statement causes the text or message to be printed four times instead of one.

Some exploration indicates that the addText method is being called four times, so it appends the text to itself.

---

build.xml:

[code]

Expected:

[code]

Actual:

[code]

Migrated from https://www.phing.info/trac/ticket/1006

[code]

[2016-10-09 11:18] phing-issues-importer opened #558 "ComposerTask when composer is installed in the system (Trac #1008)"
Is tricky to run the ComposerTask when composer is installed in the system instead of in project directory.
I propose to enhance the task in order to modify the command that is passed to `passtruh`.

Maybe using by default the system's composer installation, identify it through `which composer` and override the behaviour if composer.phar is present in project dir.

Migrated from https://www.phing.

[2016-10-09 11:18] phing-issues-importer opened #559 "Support <dirset> in chmod, chown, delete, echo, copy, foreach and move tasks (Trac #1026)"
In addition to `<fileset>`, phing has a `<dirset>` task that's currently only used as subtag for `<path>` tags.

It'd be nice if one could use it in other tasks, too:
- chmod
- chown
- delete
- echo
- copy
- foreach
- move

Migrated from https://www.phing.info/trac/ticket/1026

[code]

[2016-10-09 11:18] phing-issues-importer opened #560 "Contains and Containsregexp fail vs folder on Windows (Trac #1047)"
These two task will fail under Windows, since they will blindly try to fopen every path, regardless they're files or folders.
Under *NIX system everything is ok, but under Windows this will raise a "Permission denied" error when the task is trying to check a folder.

Migrated from https://www.phing.info/trac/ticket/1047

[code]

[2016-10-09 11:18] phing-issues-importer opened #561 "There is no way to change loglevel of output for project, target and task (Trac #1065)"
There is no way to change loglevel of output for project, target and task.
It would be great to have ability to change loglevel at least for specific tasks.

Migrated from https://www.phing.info/trac/ticket/1065

[code]

[2016-10-09 11:18] phing-issues-importer opened #562 "Error overwriting symlinks on copy or move (Trac #1096)"
I try to do copy task on symbolic link (unix) with option overwrite="true". If the destination file (symlink) already exists copy task fail with the error:
"BUILD FAILED
exception 'Exception' with message 'FileSystem::copy() FAILED. Cannot create symlink from /home/fishingsib/data/www/www/weather to ../app/plugins/weather/webroot/.' in /usr/local/share/pear/phing/system/io/UnixFileSystem.php:259
"

[2016-10-09 11:18] phing-issues-importer opened #563 "ftp deploy should all FILES & FOLDERS in the remote directory before uploading (Trac #1097)"
My case is that I have a test dir on ftp server, not being present on local source dir. When I am executing the ftpupload task with clearfirst activated I would also expect to remove the test dir from ftp server.

Migrated from https://www.phing.info/trac/ticket/1097

[code]

[2016-10-09 11:18] phing-issues-importer opened #564 "Add support for patching with git (Trac #1110)"
GitTask support a lot of actions but I found that '''format-patch''' and '''apply''' are missing.

I think that the '''format-patch''' task should at least support ''stdout'' option.

I think that the '''apply''' task should at least support ''check'', ''stats'' and ''verbose'' options.

Migrated from https://www.phing.info/trac/ticket/1110

[code]

[2016-10-09 11:18] phing-issues-importer opened #565 "Pearpkg2: Unable to set general file/dir roles (Trac #1112)"
With PEAR_PackageFileManager2 one can add a general file role (for ALL extensions) in the options.
Using phing - as far as I can see - it is only possible to set roles by extension.

See options: "roles" and "dir_roles" here:
http://pear.php.net/package/PEAR_PackageFileManager2/docs/latest/PEAR_PackageFileManager2/PEAR_PackageFileManager2.html#methodsetOptions

What I am trying to do, is to set AL

[2016-10-09 11:18] phing-issues-importer opened #566 "Include (most used) dependencies in phar (Trac #1113)"
The current phing-latest.phar does not include any of the (PEAR) dependencies that are required by some tasks.

Steps:
- investigate "most popular tasks with dependencies"
- update phing build script to include those dependencies
- build two phar's, one without and one with dependencies

Migrated from https://www.phing.info/trac/ticket/1113

[code]

[2016-10-09 11:18] phing-issues-importer opened #567 "Relative symlinks (Trac #1124)"
It would be nice in the SymlinkTask to be able to create relative symlinks instead of absolutes.

e.g.
<symlink link="foo/bar" relative="true">
<fileset dir="yyy/zzz" />
</symlink>

Migrated from https://www.phing.info/trac/ticket/1124

[code]

[2016-10-09 11:18] phing-issues-importer opened #568 "Variable problem (Trac #1136)"
Hi,

I am trying create automatical build with PHPCI and Phing. But I have a problem with evaluation of variable expresions.

There is a part of my phing build with a output:

'''build.xml'''

[code]

'''sync-to-server.xml'''

[code]

'''sync-database.xml'''

[code]

'''output:'''

[code]

After "'''vs'''" in output, missing full path. In xml is ${dbUndo} and ${dbUndo} = ${test}${undofile}.

I not

[2016-10-09 11:19] phing-issues-importer opened #569 "improve phing composer relationship (Trac #1146)"
Requirements:
- Allow to load composer autoload.php file when phing is executed in a global scope
- Allow to place composer autoload.php file in a different folder setted by config->vendor-dir
- Allow to ignore errors when taskdef require a class and autoload.php do not exist, in example when a phing task is executed by composer pre-install-cmd.

Migrated from https://www.phing.info/trac/ticket/11

[2016-10-09 11:19] phing-issues-importer opened #570 "Implement (optional) compatibility layer (Trac #1164)"
As a result of the comments in https://www.phing.info/trac/ticket/188, add a compatibility layer to allow legacy custom tasks to function in Phing 3.0:
- allows (most? define) existing custom tasks to run without changes, either by adding a few dummy classes in the global namespace, or running tasks within a separate namespace (is this possible)
- is turned off by default
- can be enabled from the

[2016-10-09 11:19] phing-issues-importer opened #571 "Consider switching tickets/issues over to GitHub (Trac #1165)"
IMO it adds some cognitive overhead that we have to deal with Trac Issue numbers and GitHub Pull Request numbers.

Sometimes a "https://www.phing.info/trac/ticket/123" over at GitHub may refer to a Pull Request (which it will be linked to), but chances are it actually means the Trac-123 ticket.

Things get even more involved when a bug with fix is opened as pull request, as in https://github.com/p

[2016-10-09 11:19] phing-issues-importer opened #572 "Folder "tests" is missing since phing 2.9.1 (Trac #1179)"
Hi,

we unit test our phing-targets with phpunit (crazy, i know). Therefore, we use files (like tests/bootstrap.php) and classes (like BuildFileTest) from the directory "tests".

Since phing 2.9.1, this folder is missing (we install phing via composer).

Could you please fix this and repackage version 2.9.1, 2.10.0 and 2.10.1? If - however - this is not possible, please release a fixed version 2.9

[2016-10-09 11:19] phing-issues-importer opened #573 "add task for git archive or git checkout-index (Trac #1182)"
Similar to having the SvnExport task, git archive or git checkout-index will export a git repo stripped of all the git folder goodness so that those files are not available when deployed to the server.

Migrated from https://www.phing.info/trac/ticket/1182

[code]

[2016-10-09 11:19] phing-issues-importer opened #574 "Allow available to check if every file in a filelist exists (Trac #1195)"
Currently, available can only check for an individual file. It'd be really great to be able to check for all the elements in filelist. This would be helpful in the case where the target will generate all the files in the filelist and want to skip running the target if they all exist already - but even one file is missing then regenerate them.

Migrated from https://www.phing.info/trac/ticket/1195

[2016-10-09 11:19] phing-issues-importer opened #575 "TarTask not packing generated js.min files (Trac #1201)"
I just found Phing and were playing around, when i experienced a strange problem...

I'm trying to jsmin some files (using uglify-js) and add them to a tar archive. But for some reason, the TarTask won't pack the js.min files.

First i thought, the TarTask is being executed earlier/faster than my ExecTask, but that doesn't seem to be the case. For debugging purposes, i've created another ExecTask

[2016-10-09 11:19] phing-issues-importer opened #576 "Phingcall should have the options returnProperty (Trac #1209)"
Currently it's not possible to return values from phing targets (due to them being executing in a new scope) which is difficult to work with.

I propose a propery returnProperty for the phingcall task and something akin to <return value="myReturnValue" /> in Tasks.

Migrated from https://www.phing.info/trac/ticket/1209

[code]

[2016-10-09 11:19] phing-issues-importer opened #577 "Unit test for various Git and SVN related tasks fails if locale is not 'en' or 'C' (Trac #1213)"
== Description ==

When trying to run the unit tests provided by the current master some of the git and SVN related tests fail.  This is caused by invoking those programs with native system locale (on the system in question: de_DE.UTF-8), which in turn causes the programs to return localized messages.  To work around this problem one can invoke phing with the 'C' locale set.  My suggestion to fix

[2016-10-09 11:19] phing-issues-importer opened #578 "Tests fail under windows (Trac #1215)"
I ran composer install / update and phing.bat on the test directory. Tests fail, I'll attach the test-results.xml.

Windows 7 64 bit, PHP 5.5.11 (xampp)
Phing 2.12.0-13-g2a20a17

Some console output:

[code]

Migrated from https://www.phing.info/trac/ticket/1215

[code]

[2016-10-09 11:19] phing-issues-importer opened #579 "stripphpcomments matches links in html (Trac #1219)"
```<stripphpcomments>``` matches "https://www.infonline.de" (see attachment) as comment an removes the line after "https:".

Migrated from https://www.phing.info/trac/ticket/1219
[code]

[2016-10-09 11:19] phing-issues-importer opened #580 "PHPUnitTask and pharlocation (Trac #1222)"
While I have lot of unit tests to run (about 4800) and PHPUnit take lot of time to count each tests before running them, I've thinked to build a phing task to call each of my 105 files, and reduced time waiting.

So as it was my first attempt to use PHPUnitTask, I've used the pharlocation property with standard PHPUnit-5.0.6.phar distrib.

I've detected two issues with phing 2.12 source code
- fir

[2016-10-09 11:19] phing-issues-importer opened #581 "OS detection fails on OSX (Trac #1227)"
When detecting the OS on a machine running OSX, using the <os/> tag both "unix" and "mac" families are matched. Sample build.xml:

[code]

outputs

[code]

Tested on OSX Yosemite.

Migrated from https://www.phing.info/trac/ticket/1227

[code]

[2016-10-09 11:19] phing-issues-importer opened #582 "JsHintTask fails when reporter attribute is not set (Trac #1230)"
JsHintTask fails when reporter attribute is not set. This config works flawlessly on Phing 2.12.0 and is broken on 2.13.0

[code]

returns (paths are trimmed)

[code]

Migrated from https://www.phing.info/trac/ticket/1230
[code]

[2016-10-09 11:19] phing-issues-importer opened #583 "Create "exec" version of PHPUnit Task (Trac #1233)"
Based on https://www.phing.info/trac/ticket/437, https://www.phing.info/trac/ticket/580, https://www.phing.info/trac/ticket/1226, https://www.phing.info/trac/ticket/1232 it seems about time (albeit a tad late) to start implementing an exec version of the PHPUnit Task, which does not suffer from the drawbacks the current, tightly integrated version of the tasks has.

Requirements:
- Support PHPUnit

[2016-10-09 11:19] phing-issues-importer opened #584 "PHPUnitReportTask fails with XSLTProcessor::importStylesheet() unable to read phar:/usr/local/bin/phing/etc/str.replace.function.xsl (Trac #1240)"
Hi,

my build fails with:

XSLTProcessor::importStylesheet(): I/O warning : failed to load external entity "phar:/usr/local/bin/phing/etc/str.replace.function.xsl", file: phar:///usr/local/bin/phing/classes/phing/tasks/ext/phpunit/PHPUnitReportTask.php

See buildfile below: It successfully executed the tests and creates a valid logfile.xml as expected. Converting test results with <<phpunitreport>

[2016-10-09 11:20] phing-issues-importer opened #585 "CopyTask can't copy to Windows network drive (Trac #1252)"
Windows only bug.

== Steps ==
1. Map network drive (for example, "X:\")
2. Create writable directory (for example, "X:\reception")
3. Copy file into this directory code:

<copy file="file.txt" todir="X:\reception" />

== Actual result ==
BUILD FAILED
D:\test\build.xml:14:46: Failed to copy D:\test\file.txt to X:\reception\file.txt: File::copyTo() No write access to X:\reception\file.txt

== Expec

[2016-10-09 11:20] phing-issues-importer opened #586 "Wrong exit code when running shell command “git pull” in sshTask (Trac #1255)"
== Description ==

Phing sshTask return “Task failed” when running `git pull` or `git checkout` with option `failonerror=true`, while git command is executed correctly (and with successful exit code).

If set `failonerror=false`, it is not possible to handle errors.

'''Ssh task fails when:'''
- git checkout dev  // always
- git pull          // when updating to new commit
- git pull --rebase // w

[2016-10-09 11:20] phing-issues-importer opened #587 "Override task attribute defaults (Trac #1256)"
We are using Phing to execute automated builds and tests, and as such would like those tasks to fail pretty much any time a child exectask fails (i.e. exits with a non-zero code).

Because the exectask attribute "checkreturn" has a default value of "false", this means we have to add checkreturn="false" to every single one of our exectasks. This is error-prone and annoying, to say the least.

We'd

[2016-10-09 11:20] phing-issues-importer opened #588 "Group targets which are listed by "phing -l" (Trac #1260)"
Hi,

is there a possibility to separate the targets which are listed by the following command?:

phing -l

Because currently I see all targets under the "Main targets" headline. I would like to have several groups. Is this possible? I have not found anything like this by the documentation and Google.

Thanks for your attention.

Sincerely,
Peter

Migrated from https://www.phing.info/trac/ticket/12

[2016-10-09 11:20] phing-issues-importer commented on #531
Trac update at 20110325T09:23:04: mrook changed milestone from "TBD" to "2.5.0"

[2016-10-09 11:20] phing-issues-importer commented on #531
Trac update at 20110627T18:57:09: mp commented:

[2016-10-09 11:20] phing-issues-importer commented on #531
Trac update at 20110627T18:57:30: mp changed cc from "" to "mp@webfactory.de"

[2016-10-09 11:20] phing-issues-importer commented on #531
Trac update at 20150909T10:05:38: Michiel Rook commented:

[2016-10-09 11:20] phing-issues-importer commented on #531
Trac update at 20150909T10:05:41: Michiel Rook commented:

[2016-10-09 11:20] phing-issues-importer commented on #531
Trac update at 20161005T20:49:11: Michiel Rook commented:

[2016-10-09 11:20] phing-issues-importer commented on #531
Trac update at 20161005T20:49:13: Michiel Rook commented:

[2016-10-09 11:20] phing-issues-importer commented on #531
Trac update at 20161007T08:28:55:
* mrook commented:

* mrook changed milestone from "3.0" to "4.0"

[2016-10-09 11:20] phing-issues-importer commented on #532
Trac update at 20081118T08:32:57:
* mrook commented:

* mrook changed milestone from "" to "3.0"

[2016-10-09 11:20] phing-issues-importer commented on #532
Trac update at 20100126T19:58:18:
* extraordinaire changed owner from "hans" to "extraordinaire"
* extraordinaire changed status from "new" to "assigned"
* extraordinaire changed type from "defect" to "enhancement"

[2016-10-09 11:20] phing-issues-importer commented on #532
Trac update at 20150203T17:07:36: piotr.sobieszczanski@gmail.com commented:

[2016-10-09 11:20] phing-issues-importer commented on #532
Trac update at 20150204T21:20:54: mrook commented:

[2016-10-09 11:20] phing-issues-importer commented on #532
Trac update at 20151015T21:49:24: frans@youngskilled.com commented:

[2016-10-09 11:20] phing-issues-importer commented on #532
Trac update at 20151205T10:38:43: mrook changed milestone from "Icebox" to "3.0"

[2016-10-09 11:20] phing-issues-importer commented on #532
Trac update at 20161007T08:28:55:
* mrook commented:

* mrook changed milestone from "3.0" to "4.0"

[2016-10-09 11:20] phing-issues-importer commented on #532
Trac update at 20161009T08:14:46: mrook changed milestone from "4.0" to "3.0"

[2016-10-09 11:20] phing-issues-importer commented on #533
Trac update at 20091117T04:47:36: anonymous changed attachment from "" to "bug_works.xml"

[2016-10-09 11:20] phing-issues-importer commented on #533
Trac update at 20091117T04:49:15: anonymous changed attachment from "" to "bug_fails.xml"

[2016-10-09 11:20] phing-issues-importer commented on #533
Trac update at 20091117T04:49:25: anonymous changed attachment from "" to "bug_fails2.xml"

[2016-10-09 11:21] phing-issues-importer commented on #533
Trac update at 20091125T19:25:52:
* mrook commented:

* mrook changed keywords from "PhpUnitTask, boolean, ifTask" to "properties, PhpUnitTask, boolean, ifTask"
* mrook changed milestone from "2.4.0RC3" to "3.0"
* mrook changed priority from "minor" to "major"

[2016-10-09 11:21] phing-issues-importer commented on #533
Trac update at 20110619T06:23:06: mp commented:

[2016-10-09 11:21] phing-issues-importer commented on #533
Trac update at 20110619T06:24:12: mp changed cc from "" to "Mp@webfactory.de"

[2016-10-09 11:21] phing-issues-importer commented on #533
Trac update at 20110622T09:20:32: mp commented:

[2016-10-09 11:21] phing-issues-importer commented on #533
Trac update at 20110622T09:25:59: mrook changed milestone from "TBD" to "2.5.0"

[2016-10-09 11:21] phing-issues-importer commented on #533
Trac update at 20110622T09:26:10: mrook changed owner from "mrook" to "mp"

[2016-10-09 11:21] phing-issues-importer commented on #533
Trac update at 20110622T14:05:34:
* mp commented:

* mp changed resolution from "" to "fixed"
* mp changed status from "new" to "closed"

[2016-10-09 11:21] phing-issues-importer commented on #533
Trac update at 20150104T20:28:18:
* mrook commented:

* mrook changed resolution from "fixed" to ""
* mrook changed status from "closed" to "reopened"

[2016-10-09 11:21] phing-issues-importer commented on #533
Trac update at 20161007T08:28:55:
* mrook commented:

* mrook changed milestone from "3.0" to "4.0"

[2016-10-09 11:21] phing-issues-importer commented on #534
Trac update at 20110619T06:30:05:
* mp commented:

* mp changed owner from "mrook" to "mp"
* mp changed status from "new" to "assigned"

[2016-10-09 11:21] phing-issues-importer commented on #534
Trac update at 20110622T09:20:32: mp commented:

[2016-10-09 11:21] phing-issues-importer commented on #534
Trac update at 20110622T09:26:31: mrook changed milestone from "" to "2.5.0"

[2016-10-09 11:21] phing-issues-importer commented on #534
Trac update at 20110622T11:58:20:
* mp changed _comment0 from:

to:

* mp commented:

* mp changed resolution from "" to "fixed"
* mp changed status from "assigned" to "closed"

[2016-10-09 11:21] phing-issues-importer commented on #534
Trac update at 20150104T20:28:34:
* mrook commented:

* mrook changed resolution from "fixed" to ""
* mrook changed status from "closed" to "reopened"

[2016-10-09 11:21] phing-issues-importer commented on #534
Trac update at 20161007T08:28:55:
* mrook commented:

* mrook changed milestone from "3.0" to "4.0"

[2016-10-09 11:21] phing-issues-importer commented on #535
Trac update at 20100628T12:22:26: ben.davies@boxuk.com commented:

[2016-10-09 11:21] phing-issues-importer commented on #535
Trac update at 20100628T12:24:36: ben.davies@boxuk.com commented:

[2016-10-09 11:21] phing-issues-importer commented on #535
Trac update at 20100629T15:01:09: mrook changed milestone from "2.4.2" to "2.4.3"

[2016-10-09 11:21] phing-issues-importer commented on #535
Trac update at 20100825T13:21:59: mrook changed status from "new" to "assigned"

[2016-10-09 11:21] phing-issues-importer commented on #535
Trac update at 20100825T15:14:54: mrook commented:

[2016-10-09 11:21] phing-issues-importer commented on #535
Trac update at 20100825T15:15:04:
* mrook changed resolution from "" to "fixed"
* mrook changed status from "assigned" to "closed"

[2016-10-09 11:21] phing-issues-importer commented on #535
Trac update at 20110604T19:19:15: mp commented:

[2016-10-09 11:21] phing-issues-importer commented on #535
Trac update at 20110604T19:40:31:
* mp commented:

* mp changed milestone from "2.4.3" to "2.5.0"
* mp changed resolution from "fixed" to ""
* mp changed status from "closed" to "reopened"
* mp changed version from "2.4.1" to ""

[2016-10-09 11:21] phing-issues-importer commented on #535
Trac update at 20110608T21:38:54: mp changed cc from "" to "mp@webfactory.de"

[2016-10-09 11:21] phing-issues-importer commented on #535
Trac update at 20161007T08:28:55:
* mrook commented:

* mrook changed milestone from "3.0" to "4.0"

[2016-10-09 11:21] phing-issues-importer commented on #536
Trac update at 20100925T16:18:00:
* victor changed milestone from "2.4.3" to "2.5.0"
* victor changed owner from "mrook" to "victor"
* victor changed status from "new" to "assigned"

[2016-10-09 11:21] phing-issues-importer commented on #536
Trac update at 20110606T16:04:27: mp commented:

[2016-10-09 11:21] phing-issues-importer commented on #536
Trac update at 20111021T16:11:02: michael_hodgins@hotmail.com commented:

[2016-10-09 11:22] phing-issues-importer commented on #536
Trac update at 20161007T08:28:55:
* mrook commented:

* mrook changed milestone from "3.0" to "4.0"

[2016-10-09 11:22] phing-issues-importer commented on #537
Trac update at 20101112T23:06:02: matt@aleph-null.tv commented:

[2016-10-09 11:22] phing-issues-importer commented on #537
Trac update at 20110220T16:43:36: mrook changed milestone from "2.4.5" to "TBD"

[2016-10-09 11:22] phing-issues-importer commented on #537
Trac update at 20120130T22:11:46: mrook changed milestone from "TBD" to "2.5.0"

[2016-10-09 11:22] phing-issues-importer commented on #537
Trac update at 20161007T08:28:55:
* mrook commented:

* mrook changed milestone from "3.0" to "4.0"

[2016-10-09 11:22] phing-issues-importer commented on #538
Trac update at 20101208T13:21:23: mrook commented:

[2016-10-09 11:22] phing-issues-importer commented on #538
Trac update at 20101210T09:07:09: Denis Chmel commented:

[2016-10-09 11:22] phing-issues-importer commented on #538
Trac update at 20110112T14:54:31: mrook commented:

[2016-10-09 11:22] phing-issues-importer commented on #538
Trac update at 20110125T12:53:38: Denis Chmel commented:

[2016-10-09 11:22] phing-issues-importer commented on #538
Trac update at 20110209T22:02:44: mrook changed milestone from "TBD" to "2.4.5"

[2016-10-09 11:22] phing-issues-importer commented on #538
Trac update at 20110209T22:40:01:
* mrook changed _comment0 from:

to:

* mrook commented:

* mrook changed milestone from "2.4.5" to "TBD"

[2016-10-09 11:22] phing-issues-importer commented on #538
Trac update at 20110210T16:24:11: Denis Chmel commented:

[2016-10-09 11:22] phing-issues-importer commented on #538
Trac update at 20110224T12:15:35: Denis Chmel commented:

[2016-10-09 11:22] phing-issues-importer commented on #538
Trac update at 20120315T10:36:00: mrook changed milestone from "TBD" to "2.4.11"

[2016-10-09 11:22] phing-issues-importer commented on #538
Trac update at 20120720T13:49:46: Michiel Rook commented:

[2016-10-09 11:22] phing-issues-importer commented on #538
Trac update at 20121016T13:53:26: mrook changed milestone from "2.4.13" to "2.4.14"

[2016-10-09 11:22] phing-issues-importer commented on #538
Trac update at 20140201T12:36:10: mrook changed milestone from "2.7.0" to "2.8.0"

[2016-10-09 11:22] phing-issues-importer commented on #538
Trac update at 20140825T12:30:31: Niek Oost commented:

[2016-10-09 11:22] phing-issues-importer commented on #538
Trac update at 20150419T07:48:44: mrook changed milestone from "2.11" to "Backlog"

[2016-10-09 11:22] phing-issues-importer commented on #539
Trac update at 20110619T05:55:15:
* mp changed owner from "mrook" to "mp"
* mp changed status from "new" to "assigned"

[2016-10-09 11:22] phing-issues-importer commented on #539
Trac update at 20110619T06:29:09: mp commented:

[2016-10-09 11:22] phing-issues-importer commented on #539
Trac update at 20110621T10:35:32: mp commented:

[2016-10-09 11:22] phing-issues-importer commented on #539
Trac update at 20110621T13:28:48: mp commented:

[2016-10-09 11:22] phing-issues-importer commented on #539
Trac update at 20110622T09:20:32: mp commented:

[2016-10-09 11:22] phing-issues-importer commented on #539
Trac update at 20110622T09:25:31: mrook changed milestone from "TBD" to "2.5.0"

[2016-10-09 11:22] phing-issues-importer commented on #539
Trac update at 20110622T11:37:45:
* mp commented:

* mp changed resolution from "" to "fixed"
* mp changed status from "assigned" to "closed"

[2016-10-09 11:22] phing-issues-importer commented on #539
Trac update at 20150104T20:27:47:
* mrook commented:

* mrook changed resolution from "fixed" to ""
* mrook changed status from "closed" to "reopened"

[2016-10-09 11:22] phing-issues-importer commented on #539
Trac update at 20161007T08:28:55:
* mrook commented:

* mrook changed milestone from "3.0" to "4.0"

[2016-10-09 11:23] phing-issues-importer commented on #540
Trac update at 20110715T00:17:32: FaZend <team@fazend.com> commented:

[2016-10-09 11:23] phing-issues-importer commented on #540
Trac update at 20110808T19:24:43: mrook changed type from "defect" to "enhancement"

[2016-10-09 11:23] phing-issues-importer commented on #540
Trac update at 20120907T13:21:46: mrook changed milestone from "Icebox" to "Backlog"

[2016-10-09 11:23] phing-issues-importer commented on #540
Trac update at 20151204T10:20:36: mrook changed priority from "major" to "tbd"

[2016-10-09 11:23] phing-issues-importer commented on #542
Trac update at 20110724T11:24:10:
* sven@schultschik.de changed attachment from "" to "Modified_version_task_to_support_1_to_3_parted_number.patch"
* sven@schultschik.de commented:

[2016-10-09 11:23] phing-issues-importer commented on #542
Trac update at 20110728T09:29:21:
* mrook changed milestone from "TBD" to "2.4.7"
* mrook changed priority from "tbd" to "major"

[2016-10-09 11:23] phing-issues-importer commented on #542
Trac update at 20110729T21:42:10:
* mrook commented:

* mrook changed milestone from "2.4.7" to "TBD"

[2016-10-09 11:23] phing-issues-importer commented on #542
Trac update at 20120406T19:29:08: mrook changed milestone from "TBD" to "2.5.0"

[2016-10-09 11:23] phing-issues-importer commented on #542
Trac update at 20161007T08:28:55:
* mrook commented:

* mrook changed milestone from "3.0" to "4.0"

[2016-10-09 11:23] phing-issues-importer commented on #543
Trac update at 20151205T10:37:50:
* mrook changed milestone from "Icebox" to "3.0"
* mrook changed priority from "major" to "minor"

[2016-10-09 11:23] phing-issues-importer commented on #543
Trac update at 20161007T08:28:55:
* mrook commented:

* mrook changed milestone from "3.0" to "4.0"

[2016-10-09 11:23] phing-issues-importer commented on #544
Trac update at 20110917T20:16:06:
* victor changed component from "phing-tasks-ext" to "phing-tasks-scm"
* victor changed owner from "mrook" to "victor"
* victor changed status from "new" to "assigned"

[2016-10-09 11:23] phing-issues-importer commented on #544
Trac update at 20151206T10:42:32:
* mrook changed milestone from "Icebox" to "Backlog"
* mrook changed owner from "victor" to ""
* mrook changed status from "assigned" to "new"

[2016-10-09 11:23] phing-issues-importer commented on #545
Trac update at 20110913T19:11:51: Christian Weiske <cweiske@cweiske.de> commented:

[2016-10-09 11:23] phing-issues-importer commented on #545
Trac update at 20120907T13:21:46: mrook changed milestone from "Icebox" to "Backlog"

[2016-10-09 11:23] phing-issues-importer commented on #546
Trac update at 20120130T14:20:40: mrook commented:

[2016-10-09 11:23] phing-issues-importer commented on #546
Trac update at 20120907T13:21:46: mrook changed milestone from "Icebox" to "Backlog"

[2016-10-09 11:24] phing-issues-importer commented on #547
Trac update at 20120221T13:14:28: mrook commented:

[2016-10-09 11:24] phing-issues-importer commented on #547
Trac update at 20120907T13:16:20: mrook changed milestone from "TBD" to "2.5.0"

[2016-10-09 11:24] phing-issues-importer commented on #547
Trac update at 20161007T08:28:55:
* mrook commented:

* mrook changed milestone from "3.0" to "4.0"

[2016-10-09 11:24] phing-issues-importer commented on #548
Trac update at 20120229T14:39:17:
* daniel.degasperi@r3-gis.com changed attachment from "" to "SvnProplistTask.php"
* daniel.degasperi@r3-gis.com commented:

[2016-10-09 11:24] phing-issues-importer commented on #548
Trac update at 20161007T14:21:38:
* mrook commented:

* mrook changed milestone from "Icebox" to "Backlog"

[2016-10-09 11:24] phing-issues-importer commented on #549
Trac update at 20120229T16:36:56:
* daniel.degasperi@r3-gis.com changed attachment from "" to "SvnPropgetTask.php"
* daniel.degasperi@r3-gis.com commented:

[2016-10-09 11:24] phing-issues-importer commented on #549
Trac update at 20161007T14:21:38:
* mrook commented:

* mrook changed milestone from "Icebox" to "Backlog"

[2016-10-09 11:24] phing-issues-importer commented on #550
Trac update at 20120229T17:20:44:
* daniel.degasperi@r3-gis.com changed attachment from "" to "SvnPropsetTask.php"
* daniel.degasperi@r3-gis.com commented:

[2016-10-09 11:24] phing-issues-importer commented on #550
Trac update at 20161007T14:21:38:
* mrook commented:

* mrook changed milestone from "Icebox" to "Backlog"

[2016-10-09 11:24] phing-issues-importer commented on #551
Trac update at 20130816T01:18:17: anonymous commented:

[2016-10-09 11:24] phing-issues-importer commented on #551
Trac update at 20150826T09:49:08: mrook changed milestone from "Icebox" to "3.0"

[2016-10-09 11:24] phing-issues-importer commented on #551
Trac update at 20161007T08:28:55:
* mrook commented:

* mrook changed milestone from "3.0" to "4.0"

[2016-10-09 11:24] phing-issues-importer commented on #552
Trac update at 20120406T18:14:50: mrook changed type from "defect" to "enhancement"

[2016-10-09 11:24] phing-issues-importer commented on #552
Trac update at 20120907T13:21:46: mrook changed milestone from "Icebox" to "Backlog"

[2016-10-09 11:24] phing-issues-importer commented on #553
Trac update at 20120509T14:33:22: keith.rogers@unit4.com commented:

[2016-10-09 11:24] phing-issues-importer commented on #553
Trac update at 20120907T12:58:47: mrook changed milestone from "TBD" to "2.4.14"

[2016-10-09 11:24] phing-issues-importer commented on #553
Trac update at 20130103T10:06:57:
* mrook commented:

* mrook changed milestone from "2.5.0" to "Backlog"
* mrook changed priority from "tbd" to "minor"

[2016-10-09 11:24] phing-issues-importer commented on #553
Trac update at 20130409T11:20:19: anonymous commented:

[2016-10-09 11:25] phing-issues-importer commented on #553
Trac update at 20130418T11:17:08: wlabesamis@gmail.com commented:

[2016-10-09 11:25] phing-issues-importer commented on #553
Trac update at 20130903T21:33:38: bhaskarkhadka@hotmail.com commented:

[2016-10-09 11:25] phing-issues-importer commented on #553
Trac update at 20140213T12:09:42:
* mrook commented:

* mrook changed milestone from "Backlog" to "2.8.0"

[2016-10-09 11:25] phing-issues-importer commented on #553
Trac update at 20140603T13:54:46: mrook changed milestone from "2.8.0" to "Backlog"

[2016-10-09 11:25] phing-issues-importer commented on #554
Trac update at 20121112T09:55:15: Utsav Handa <handautsav@hotmail.com> commented:

[2016-10-09 11:25] phing-issues-importer commented on #554
Trac update at 20121119T04:22:29: Utsav Handa <handautsav@hotmail.com> changed attachment from "" to "Phing#918-Adding-Strict-Mode-Capability.patch"

[2016-10-09 11:25] phing-issues-importer commented on #554
Trac update at 20121119T04:42:36: Utsav Handa <handautsav@hotmail.com> commented:

[2016-10-09 11:25] phing-issues-importer commented on #554
Trac update at 20161007T08:28:55:
* mrook commented:

* mrook changed milestone from "3.0" to "4.0"

[2016-10-09 11:25] phing-issues-importer commented on #555
Trac update at 20121206T08:44:15: mrook commented:

[2016-10-09 11:25] phing-issues-importer commented on #555
Trac update at 20121206T10:34:14: Matt Kirwan <matthewkirwan@gmail.com> commented:

[2016-10-09 11:25] phing-issues-importer commented on #555
Trac update at 20140626T09:27:47:
* mrook commented:

* mrook changed component from "phing-core" to "documentation"
* mrook changed milestone from "Backlog" to "2.9.0"
* mrook changed priority from "tbd" to "minor"
* mrook changed type from "defect" to "task"

[2016-10-09 11:25] phing-issues-importer commented on #555
Trac update at 20140701T09:12:26: mrook changed status from "new" to "infoneeded_new"

[2016-10-09 11:25] phing-issues-importer commented on #555
Trac update at 20141031T13:17:56: mrook changed milestone from "2.9.0" to "Backlog"

[2016-10-09 11:25] phing-issues-importer commented on #556
Trac update at 20130818T09:47:54: mrook commented:

[2016-10-09 11:25] phing-issues-importer commented on #556
Trac update at 20140918T11:38:05: mrook changed status from "new" to "infoneeded_new"

[2016-10-09 11:25] phing-issues-importer commented on #556
Trac update at 20150508T18:37:34: r.safin89@gmail.com commented:

[2016-10-09 11:25] phing-issues-importer commented on #556
Trac update at 20150811T12:14:58: anonymous commented:

[2016-10-09 11:25] phing-issues-importer commented on #556
Trac update at 20160406T15:47:26: anonymous commented:

[2016-10-09 11:25] phing-issues-importer commented on #556
Trac update at 20161007T14:36:25: mrook commented:

[2016-10-09 11:25] phing-issues-importer commented on #557
Trac update at 20130614T23:43:47: wesdeboer@gmail.com commented:

[2016-10-09 11:25] phing-issues-importer commented on #558
Trac update at 20130507T08:25:42: mrook commented:

[2016-10-09 11:26] phing-issues-importer commented on #558
Trac update at 20140606T09:35:46: anonymous commented:

[2016-10-09 11:26] phing-issues-importer commented on #558
Trac update at 20140606T09:38:29: anonymous commented:

[2016-10-09 11:26] phing-issues-importer commented on #558
Trac update at 20140919T10:37:38: anonymous commented:

[2016-10-09 11:26] phing-issues-importer commented on #558
Trac update at 20140919T10:38:38: matthias@krauser.eu commented:

[2016-10-09 11:26] phing-issues-importer commented on #558
Trac update at 20151128T15:48:36: rene@url.ee commented:

[2016-10-09 11:26] phing-issues-importer commented on #558
Trac update at 20151128T18:23:35: mrook commented:

[2016-10-09 11:26] phing-issues-importer commented on #558
Trac update at 20151128T19:10:43: matthias@krauser.eu commented:

[2016-10-09 11:26] phing-issues-importer commented on #559
Trac update at 20130818T09:32:58:
* mrook commented:

* mrook changed milestone from "Backlog" to "2.7.0"
* mrook changed priority from "tbd" to "minor"

[2016-10-09 11:26] phing-issues-importer commented on #559
Trac update at 20131212T10:36:23: mrook changed milestone from "2.7.0" to "2.8.0"

[2016-10-09 11:26] phing-issues-importer commented on #559
Trac update at 20140918T12:47:57:
* mrook changed milestone from "2.9.0" to "Backlog"
* mrook changed priority from "minor" to "low"

[2016-10-09 11:26] phing-issues-importer commented on #560
Trac update at 20130909T14:31:44: mrook commented:

[2016-10-09 11:26] phing-issues-importer commented on #560
Trac update at 20130910T09:36:46: tampe125@gmail.com commented:

[2016-10-09 11:26] phing-issues-importer commented on #560
Trac update at 20130915T14:42:49: tampe125@gmail.com commented:

[2016-10-09 11:26] phing-issues-importer commented on #560
Trac update at 20130919T01:51:41:
* mrook commented:

* mrook changed summary from "Contanins and Containsregexp fail vs folder on Windows" to "Contains and Containsregexp fail vs folder on Windows"

[2016-10-09 11:26] phing-issues-importer commented on #561
Trac update at 20140717T19:04:23: mrook commented:

[2016-10-09 11:26] phing-issues-importer commented on #561
Trac update at 20140717T19:11:26: mrook changed status from "new" to "infoneeded_new"

[2016-10-09 11:26] phing-issues-importer commented on #561
Trac update at 20140718T08:41:27: max.romanovsky@gmail.com commented:

[2016-10-09 11:27] phing-issues-importer commented on #566
Trac update at 20140630T10:01:00: td@gmx.com commented:

[2016-10-09 11:27] phing-issues-importer commented on #566
Trac update at 20140701T09:47:07: mrook commented:

[2016-10-09 11:27] phing-issues-importer commented on #567
Trac update at 20161007T14:25:32: mrook changed milestone from "Backlog" to "2.16.0"

[2016-10-09 11:27] phing-issues-importer commented on #568
Trac update at 20140829T09:05:16: mrook commented:

[2016-10-09 11:27] phing-issues-importer commented on #568
Trac update at 20140829T15:16:18: josberger@seznam.cz commented:

[2016-10-09 11:27] phing-issues-importer commented on #568
Trac update at 20140829T15:22:29: josberger@seznam.cz commented:

[2016-10-09 11:27] phing-issues-importer commented on #569
Trac update at 20141004T09:39:49: anonymous commented:

[2016-10-09 11:27] phing-issues-importer commented on #569
Trac update at 20141004T09:43:07: alex@corretge.cat commented:

[2016-10-09 11:27] phing-issues-importer commented on #570
Trac update at 20150121T13:33:24: mp commented:

[2016-10-09 11:27] phing-issues-importer commented on #570
Trac update at 20161007T08:28:55:
* mrook commented:

* mrook changed milestone from "3.0" to "4.0"

[2016-10-09 11:27] phing-issues-importer commented on #571
Trac update at 20150121T20:37:42: mrook commented:

[2016-10-09 11:27] phing-issues-importer commented on #571
Trac update at 20150121T21:46:55: mp commented:

[2016-10-09 11:27] phing-issues-importer commented on #571
Trac update at 20150130T20:46:28: mp commented:

[2016-10-09 11:27] phing-issues-importer commented on #571
Trac update at 20150202T13:52:37: mrook commented:

[2016-10-09 11:27] phing-issues-importer commented on #571
Trac update at 20150826T11:50:16: bergmann@berlitec.de commented:

[2016-10-09 11:27] phing-issues-importer commented on #571
Trac update at 20151204T10:16:45:
* mrook commented:

* mrook changed milestone from "Backlog" to "web"

[2016-10-09 11:28] phing-issues-importer commented on #571
Trac update at 20151213T20:03:29: siad007 commented:

[2016-10-09 11:28] phing-issues-importer commented on #572
Trac update at 20150303T14:09:17:
* mrook changed _comment0 from:

to:

* mrook commented:

[2016-10-09 11:28] phing-issues-importer commented on #572
Trac update at 20150303T14:41:18: michael.kuehn@evolver.de commented:

[2016-10-09 11:28] phing-issues-importer commented on #572
Trac update at 20150624T08:56:32: Michael Kühn <michael.kuehn@evolver.de> commented:

[2016-10-09 11:28] phing-issues-importer commented on #572
Trac update at 20150626T07:22:44: mrook commented:

[2016-10-09 11:28] phing-issues-importer commented on #572
Trac update at 20150626T07:23:47: mrook commented:

[2016-10-09 11:28] phing-issues-importer commented on #573
Trac update at 20150902T22:39:24: anonymous commented:

[2016-10-09 11:28] phing-issues-importer commented on #573
Trac update at 20160613T16:32:12: anonymous commented:

[2016-10-09 11:28] phing-issues-importer commented on #573
Trac update at 20160929T08:15:52:
* mrook commented:

* mrook changed milestone from "Backlog" to "2.16.0"
* mrook changed priority from "tbd" to "low"

[2016-10-09 11:28] phing-issues-importer commented on #574
Trac update at 20160929T08:14:14:
* mrook changed milestone from "Backlog" to "2.16.0"
* mrook changed priority from "tbd" to "low"
* mrook changed type from "defect" to "enhancement"

[2016-10-09 11:28] phing-issues-importer commented on #575
Trac update at 20150730T11:20:06:
* sascha@softcreatr.de changed attachment from "" to "build.xml"
* sascha@softcreatr.de commented:

[2016-10-09 11:28] phing-issues-importer commented on #575
Trac update at 20150730T11:20:26:
* sascha@softcreatr.de changed attachment from "" to "log.txt"
* sascha@softcreatr.de commented:

[2016-10-09 11:28] phing-issues-importer commented on #575
Trac update at 20150730T11:28:02: anonymous commented:

[2016-10-09 11:28] phing-issues-importer commented on #575
Trac update at 20150730T11:39:35: mrook commented:

[2016-10-09 11:28] phing-issues-importer commented on #575
Trac update at 20150730T21:34:26:
* sascha@softcreatr.de changed attachment from "" to "debug.log"
* sascha@softcreatr.de commented:

[2016-10-09 11:28] phing-issues-importer commented on #575
Trac update at 20150730T21:40:11: sascha@softcreatr.de commented:

[2016-10-09 11:28] phing-issues-importer commented on #575
Trac update at 20150730T21:42:22: sascha@softcreatr.de commented:

[2016-10-09 11:28] phing-issues-importer commented on #575
Trac update at 20150730T21:54:31:
* sascha@softcreatr.de changed attachment from "" to "proper-debug.log"
* sascha@softcreatr.de commented:

[2016-10-09 11:28] phing-issues-importer commented on #575
Trac update at 20150730T21:57:00: sascha@softcreatr.de commented:

[2016-10-09 11:28] phing-issues-importer commented on #576
Trac update at 20151204T10:13:48: mrook commented:

[2016-10-09 11:28] phing-issues-importer commented on #576
Trac update at 20160804T21:29:57:
* mrook commented:

* mrook changed milestone from "Backlog" to "3.0"

[2016-10-09 11:28] phing-issues-importer commented on #576
Trac update at 20161007T08:28:55:
* mrook commented:

* mrook changed milestone from "3.0" to "4.0"

[2016-10-09 11:29] phing-issues-importer commented on #577
Trac update at 20150824T12:43:39: Marcel Metz <mmetz@adrian-broher.net> commented:

[2016-10-09 11:29] phing-issues-importer commented on #577
Trac update at 20151206T10:36:18: mrook changed milestone from "Backlog" to "2.14.0"

[2016-10-09 11:29] phing-issues-importer commented on #577
Trac update at 20160310T21:28:25:
* mrook commented:

* mrook changed milestone from "2.14.0" to "2.15.0"

[2016-10-09 11:29] phing-issues-importer commented on #577
Trac update at 20160914T19:32:54:
* mrook commented:

* mrook changed milestone from "2.15.0" to "2.16.0"

[2016-10-09 11:29] phing-issues-importer commented on #578
Trac update at 20150826T10:20:09: bergmann@berlitec.de changed attachment from "" to "test-results.xml"

[2016-10-09 11:29] phing-issues-importer commented on #578
Trac update at 20160929T08:16:14: mrook changed milestone from "Backlog" to "2.16.0"

[2016-10-09 11:29] phing-issues-importer commented on #579
Trac update at 20150923T22:11:51: ronny@developer.falconiform.de changed attachment from "" to "bug.zip"

[2016-10-09 11:29] phing-issues-importer commented on #579
Trac update at 20150923T22:42:54: ronny@developer.falconiform.de commented:

[2016-10-09 11:29] phing-issues-importer commented on #579
Trac update at 20151204T10:17:36:
* mrook changed milestone from "Backlog" to "2.14.0"
* mrook changed priority from "critical" to "major"

[2016-10-09 11:29] phing-issues-importer commented on #579
Trac update at 20160130T20:38:02: Michiel Rook commented:

[2016-10-09 11:29] phing-issues-importer commented on #579
Trac update at 20160130T20:38:04: Michiel Rook commented:

[2016-10-09 11:29] phing-issues-importer commented on #579
Trac update at 20160310T21:28:25:
* mrook commented:

* mrook changed milestone from "2.14.0" to "2.15.0"

[2016-10-09 11:29] phing-issues-importer commented on #579
Trac update at 20160914T19:32:54:
* mrook commented:

* mrook changed milestone from "2.15.0" to "2.16.0"

[2016-10-09 11:33] phing-issues-importer commented on #582
Trac update at 20151212T10:48:21: mrook commented:

[2016-10-09 11:33] phing-issues-importer commented on #582
Trac update at 20151226T10:06:50:
* phinginfo.id1230.20.dimon3000@spamgourmet.com changed attachment from "" to "phing_1230.tar.gz"
* phinginfo.id1230.20.dimon3000@spamgourmet.com commented:

[2016-10-09 11:33] phing-issues-importer commented on #582
Trac update at 20151226T10:15:25: phinginfo.20.dimon3000@spamgourmet.com commented:

[2016-10-09 11:33] phing-issues-importer commented on #582
Trac update at 20160929T08:16:06:
* mrook changed milestone from "Backlog" to "2.16.0"
* mrook changed priority from "critical" to "major"

[2016-10-09 11:33] phing-issues-importer commented on #583
Trac update at 20151210T20:52:29: mrook changed description from:

to:

[2016-10-09 11:33] phing-issues-importer commented on #583
Trac update at 20151218T14:05:10: anonymous commented:

[2016-10-09 11:33] phing-issues-importer commented on #583
Trac update at 20160314T11:25:37: anonymous commented:

[2016-10-09 11:33] phing-issues-importer commented on #583
Trac update at 20160327T14:39:43: mrook commented:

[2016-10-09 11:33] phing-issues-importer commented on #583
Trac update at 20160804T21:13:05: mrook changed milestone from "Backlog" to "3.0"

[2016-10-09 11:33] phing-issues-importer commented on #583
Trac update at 20161007T08:28:55:
* mrook commented:

* mrook changed milestone from "3.0" to "4.0"

[2016-10-09 11:33] phing-issues-importer commented on #584
Trac update at 20160929T08:11:42:
* mrook changed milestone from "Backlog" to "2.16.0"
* mrook changed priority from "tbd" to "minor"

[2016-10-09 11:33] phing-issues-importer commented on #585
Trac update at 20160929T08:11:21:
* mrook commented:

* mrook changed milestone from "Backlog" to "2.16.0"
* mrook changed priority from "tbd" to "minor"

[2016-10-09 11:33] phing-issues-importer commented on #586
Trac update at 20160929T08:10:34:
* mrook changed milestone from "Backlog" to "2.16.0"
* mrook changed priority from "tbd" to "minor"

[2016-10-09 11:33] phing-issues-importer commented on #587
Trac update at 20160621T14:36:22: Dane Powell <dane.powell@acquia.com> commented:

[2016-10-09 11:33] phing-issues-importer commented on #587
Trac update at 20160804T21:21:53:
* mrook commented:

* mrook changed type from "defect" to "enhancement"

[2016-10-09 12:11] tomasfejfar commented on #587
What about having a dotfile for phing to set these?

[2016-10-10 12:19] mrook commented on #571
All open tickets have been migrated, and closed in Trac.

[2016-10-10 12:19] #571 closed

[2016-10-11 09:12] sustmi opened #592 "Travis build fails in PHP 5.3 because of unsatisfied Composer dependencies"
Phing has `dev` dependency on [`siad007/versioncontrol_hg`](https://packagist.org/packages/siad007/versioncontrol_hg) since release `2.15.0`.
This dependency requires PHP >=5.4 and therefore Travis build on PHP 5.3 fails because Composer cannot create valid dependency tree.

I suggest putting PHP 5.3 on `allow_failures` list in `travis.yml`. Should I create PR or do you have other suggestion on ho

[2016-10-11 09:13] mrook commented on #592
I've actually just committed 569470460dab2ac1a51327755f51d91566e36664, it's not the nicest solution but it should suffice for now (or at least, for the hg dependency).

[2016-10-11 09:34] sustmi commented on #592
Well, it probably solves the problem with failing Travis (in case that tests will success on PHP 5.3).

I am not sure if there is point in building Phing 2.15.0+ on PHP 5.3 when no one will install it on PHP 5.3.
How many developers know that they can use `--ignore-platform-reqs`? (I did not know that.)
Not to mention that [official PHP 5.3 support ended more than 2 years ago](http://php.net/suppo

[2016-10-11 09:36] mrook commented on #592
--ignore-platform-reqs is only required if you install Phing to develop on it, on a 5.3 box.

Yeah that's a discussion that's been going on for a while. See the 3.0 milestone, we're going to bump Phing to be 5.6+. The 2.x line will continue to be 5.2/5.3 compatible.

Thanks!

[2016-10-11 09:36] #592 closed

[2016-10-12 10:56] holtkamp opened #593 "Changed behavior in <fileset/> filtering in 2.15.1"
After updating Phing using Composer to [2.15.1](https://www.phing.info/trac/wiki/Users/News/Phing%202.15.1%20released), our ```build.xml``` script behaves differently:

[code]

Might be a regression of https://www.phing.info/trac/ticket/1264?

[2016-10-12 11:45] mrook commented on #593
I'll have a look asap, apologies if it turns out to be caused by the fix for https://www.phing.info/trac/ticket/1264.

[2016-10-12 13:02] mrook commented on #593
I think 60c43e2 fixes it, could you please test that?

[2016-10-12 13:46] holtkamp commented on #593
Our build script has indeed returned to 'normal' behavior after ```composer update``` against ```dev-master``` which resulted in:

[code]

👍

[2016-10-13 09:01] mrook commented on #593
Thanks! I'll release 2.15.2 today.

[2016-10-13 09:01] #593 closed

[2016-10-13 15:51] dmromanov commented on #582
Is archive `phing_1230.tar.gz` with an example how to reproduce this bug lost?

[2016-10-13 19:30] mrook commented on #582
@dmromanov no, it's still available at the original location: https://www.phing.info/trac/ticket/1230

[2016-10-15 14:03] siad007 commented on #552
Related to #465 #522

[2016-10-17 15:12] DanilSA opened #595 "An issue with 'file' attribute of 'append' task (v2.15.1)"
Using of 'file' attribute in 'append' task
`<append destFile="filePath1.ext" file="filePath2.ext" />`
generates an error:
**phing.tasks.system.AppendTask doesn't support the 'file' attribute**

Everything worked perfectly with version 2.14.

[2016-10-18 12:07] DanilSA opened #597 "An issue with 'append' task when adding a list of files in a directory (v2.15.1)"
Using the 'append' task to add a list of files in a directory

[code]

generates a warning: **Unable to append contents of file**

It seems that an issue is in the function **appendFiles** of the class **AppendTask**,
when **PhingFile** object is created:

`new PhingFile($file)`

In the older version of Phing (2.14):
`new PhingFile($dir, $filename)`

[2016-10-20 12:15] #595 closed

[2016-10-23 12:47] siad007 commented on #597
I cannot reproduce this behavior with the actual master checked out. https://github.com/phingofficial/phing/commit/a7c32b2daa5e4e5a9de6f79ad2351daa5e2d1ace
@DanilSA it would be great if you could recheck this

[2016-10-23 14:42] #579 closed

[2016-10-23 14:43] #582 closed

[2016-10-23 20:01] siad007 commented on #581
This is normal behavior - you can be even more specific with conditions:
[code]

[2016-10-25 15:35] DanilSA commented on #597
I can still reproduce this issue on version 2.15.2
Here is an example to reproduce the issue:
[https://dl.dropboxusercontent.com/u/11055086/phing/test.zip](url)

When I run Phing v2.14, everything goes as it should:

When I run Phing v2.15.2, then something goes wrong:

[2016-10-25 18:26] siad007 commented on #597
@DanilSA Would you be able to test it against the actual master like i did?

[2016-10-25 18:39] siad007 commented on #597
@DanilSA FYI i tested it with:
[code]
Which produced an file called filePath1.txt with the content of some php files.

[2016-10-25 18:49] siad007 commented on #597
If it is still not working can you send the output with -verbose (or -debug) option running phing, so that we can have more infos, please?

[2016-10-25 21:29] siad007 commented on #597
OK can reproduce it now. Patch will follow ... @DanilSA sorry for your inconvenience

[2016-10-26 11:14] DanilSA commented on #597
Sorry, looks like I incorrectly added it. Fixed.

Thanks, now the files are added as it should be.
But the content of the destination file is overwritten.
In version 2.14 it has not been overwritten, and the new content was added after it.

[2016-10-26 11:32] siad007 commented on #597
@DanilSA I will have a look at this one in the evening...

[2016-10-31 06:36] tuanvu-se opened #613 "Git auto modified file with phing vendor"
Dear,

I use Ubuntu and install Phing via composer, then I push all the vendor to my git. My friend pull my git to their computer (also run in Ubuntu). Although he pull without modified any previous things, he still get a lot of modified files inside phing vendor. Moreover, he cannot checkout or reset these files. I also reference this article https://help.github.com/articles/dealing-with-line-end

[2016-10-31 20:40] justintilson opened #614 "phar file not working - \Symfony\Component\Yaml\Parser' not found"
I just installed **phing-2.15.2.phar** and am attempting to run it (on a Mac) and am getting:

`PHP Fatal error:  Class '\Symfony\Component\Yaml\Parser' not found in phar:///usr/local/bin/phing/classes/phing/system/io/YamlFileParser.php on line 44`

My deployment script works ok if I install phing from source via composer.

[2016-10-31 23:16] siad007 commented on #613
@tuanvu-se hello, you should not include vendor in your repository [at]see https://getcomposer.org/doc/faqs/should-i-commit-the-dependencies-in-my-vendor-directory.md

[2016-11-01 07:58] mrook commented on #613
@tuanvu-se from the diff you posted it looks like the .gitattributes file is not populated correctly, see https://github.com/phingofficial/phing/blob/master/.gitattributes for inspiration. But like @siad007 says, I wouldn't include ```vendor/``` in your repository.

[2016-11-01 09:52] albenik commented on #556
Use following snippet to workaround issue
[code]

[2016-11-01 19:15] #613 closed

[2016-11-01 19:21] mrook commented on #556
Can some with Git & Windows confirm this workaround?

[2016-11-02 02:47] tuanvu-se commented on #613
Hi @siad007 and @mrook,
Thanks for your advices! I also know that we should never include vendor/ to our repository. However, I can't control this behaviour in the situation. Honestly, It is a project of the company and I try to resolve this issue for my teams.

For the way of @mrook , I have include the the .gitattributes information to my .gitattributes repository but doesn't solve problem.
This

[2016-11-02 08:47] IRuslan opened #615 "JSHint — Support of specific config file path"
I wonder, why --config flag of the native JSHint is not supported? Or does Phing documentation missing this ability?

[2016-11-02 08:55] mpdude opened #616 ""Late property expansion" and property arrays on 2.x?"
Hi all,

a long time ago, I have contributed two features I called "late property expansion" and "property arrays" on what was the "master" branch then; this later became (IIRC) the 3.0 branch and then unstable-3.0; maybe it is called "future-4.0" right now.

I then made another attempt (around early 2015?) and ported the changes to one of the newer "future" branches, the one that introduced names

[2016-11-02 21:12] mrook commented on #615
The documentation is correct, the feature was never implemented, mostly because it was never needed or requested before :)

If you could submit a pull request, that'd be awesome.

[2016-11-02 21:14] mrook commented on #616
@mpdude this is precisely the reason behind the new 3.0 branch, which I want to release early next year at the latest. 2.x should remain as is, but 3.0 can receive this patch. I'm willing to help wherever I can :)

[2016-11-02 21:24] mrook commented on #581
Nice example @siad007, I'll add that to the docs.

[2016-11-02 21:36] #581 closed

[2016-11-02 21:44] mrook commented on #584
This is caused by the ```xsl:include``` statements in both phpunit .xsl files, which do not support / understand phar paths.

[2016-11-02 23:27] siad007 commented on #613
@tuanvu-se Maybe helpful: https://git-scm.com/book/en/v2/Customizing-Git-Git-Attributes#Keyword-Expansion

[2016-11-03 11:14] mrook commented on #614
The phar file doesn't include composer dependencies, it should at least include the bare essentials. Also see #566.

[2016-11-04 16:17] siad007 commented on #551
Couldn't this be done with the find option?
[code]

[2016-11-09 18:16] #615 closed

[2016-11-09 18:27] mrook commented on #614
6954db4 and fddf1f7 introduce part of the fix for this issue.

[2016-11-09 18:35] #597 closed

[2016-11-09 20:39] #567 closed

[2016-11-14 09:43] alsar opened #622 "PHP notice on 7.1: A non well formed numeric value encountered"
When running Phing on PHP 7.1 I get a notice:
`PHP Notice:  A non well formed numeric value encountered in .composer/vendor/phing/phing/classes/phing/Phing.php on line 1636`

The problem seems to be here: https://github.com/phingofficial/phing/blob/2.15.2/classes/phing/Phing.php#L1636

And seems to be related to this RFC: https://wiki.php.net/rfc/invalid_strings_in_arithmetic

[2016-11-14 09:44] mrook commented on #622
Already fixed in #620 - thanks for reporting!

[2016-11-14 09:44] #622 closed

[2016-11-16 20:29] siad007 commented on #584
@mrook what do you think about something like that inside PHPUnitReportTask:
[code]

[2016-11-19 16:13] mrccnt commented on #556
Yes I can confirm that this works on win10/php5.5. I ran into same problem, but that snippets worked just great.

[2016-11-20 11:05] mrook commented on #556
Thanks for the confirmation @mrccnt. Closing this issue.

[2016-11-20 11:05] #556 closed

[2016-11-21 13:45] kienanstewart opened #624 "Sass task fails when PEAR is not installed"
I installed phing via composer and in a project I have a task which runs a syntax check on sass files.

`
[PHP Error] include_once(System.php): failed to open stream: No such file or directory [line 884 of /home/user/.composer/vendor/phing/phing/classes/phing/tasks/ext/SassTask.php]
[PHP Error] include_once(): Failed opening 'System.php' for inclusion (include_path='/home/user/.composer/vendor/phi

[2016-11-22 09:38] #624 closed

[2016-11-29 21:29] bmendl commented on #573
FYI: I'm working on this issue …

[2016-11-30 13:17] piotr-zuralski opened #629 "sha-512 hash for phing-latest.phar"
For `phing-latest.phar` there should also be provided `sha512` hash file https://www.phing.info/get/phing-latest.phar.sha512 as for other files are provided. (http://www.phing.info/get/phing-2.15.2.phar.sha512, https://www.phing.info/get/phing-2.15.1.phar.sha512, https://www.phing.info/get/phing-2.15.0.phar.sha512)

[2016-12-05 13:22] #554 closed

[2016-12-06 09:01] mrook commented on #614
Should be fixed now.

[2016-12-06 09:01] #614 closed

[2016-12-06 09:07] mrook commented on #584
@siad007 I don't think that'll fix the issue. The problem is the ```xsl:include``` statement in ```phpunit-frames.xsl``` and ```phpunit-noframes.xsl```. We need to either wrap that in a PHP function (http://php.net/manual/de/xsltprocessor.registerphpfunctions.php) or figure out another way.

[2016-12-07 16:50] siad007 commented on #584
@mrook I thought that the main problem is that the stylesheets are inside the phar? Moving to file based tmp dir should solve this. Or what did i overlooked?

[2016-12-14 12:14] czukowski opened #632 "CoverageReportTask uses short class name for class reflection (when subpackage annotation is present)"
See `CoverageReportTask.php`, [L363-L365], [L377]:

[code]

As a result, a `ReflectionException` is thrown saying it cannot find the class.

 [L363-L365]: https://github.com/phingofficial/phing/blob/master/classes/phing/tasks/ext/coverage/CoverageReportTask.php#L363-L365
 [L377]: https://github.com/phingofficial/phing/blob/master/classes/phing/tasks/ext/coverage/CoverageReportTask.php#L377

[2016-12-15 13:13] piotr-zuralski opened #633 "Making phing compatible with phive (https://phar.io)"
https://phar.io/#distributingPhars

what is needed:
- phar file should contain a [manifest](https://github.com/phar-io/manifest)
- phar file should be signed (also releases files on GitHub) using gpg/pgp (`phar.asc`)
- gpg key used for signing should be published

After that, installing phing with phive should be working, steps to check installation:

[code]
[code]
this requires https://www.phing.

[2016-12-20 13:48] mrook commented on #584
You are right about the phar, but it's actually including the ```str.replace.function.xsl``` file that's the main problem.

[2016-12-20 14:46] mrook commented on #632
It looks like this is only a problem when a ```@subpackage``` annotation is present.

[2016-12-21 13:12] #632 closed

[2016-12-21 15:25] mrook commented on #629
A ```phing-latest.phar.sha512``` will be generated & upload as part of the upcoming release. Thanks!

[2016-12-21 15:25] #629 closed

[2016-12-22 10:52] mrook commented on #578
Looks to be fixed.

[2016-12-22 10:52] #578 closed

[2016-12-27 00:22] axel-rutz opened #636 "Parse yaml buildfiles"
Yaml buildfiles should be possible and might be easier for humans to write.

[2016-12-27 18:36] mrook commented on #557
This was actually fixed in c496443b3e38c9ffd98059b6ecd1743b0db63c50.

[2016-12-27 18:36] #557 closed

[2016-12-28 22:34] AKhrulev opened #637 "Unwanted spaces in attribute with forced escape in ExecTask"
Version: Phing 2.15.2
Note: incomplete fix of https://www.phing.info/trac/ticket/1243
Tested on Windows

## Steps
Execute command with argument which needs escape:
[code]
## Expected
Command is executed:
`echo "foo|bar" 2>&1`

## Actual
Command is executed:
`echo " foo|bar " 2>&1`
**There are two unwanted spaces in argument**.

## Root cause
Argument is escaped **twice**. Look at row 229 in file E

[2016-12-29 08:42] mrook commented on #636
I've created a sample ```build.yml``` file based on the ```test/build.xml``` file in ```master```: https://gist.github.com/mrook/22246bbed1b67a56c8ec901ade2aeece

[2016-12-29 11:49] mrook commented on #568
I can't reproduce this using the latest version. Please re-open if you encounter this issue again.

[2016-12-29 11:49] #568 closed

[2016-12-29 11:51] mrook commented on #546
Closing in favor of the ```pathconvert``` solution in #604.

[2016-12-29 11:51] #546 closed

[2016-12-29 12:04] mrook commented on #576
The ```runtarget``` task in #527 could be an option.

[2016-12-29 12:05] mrook commented on #551
```phing -find``` tries to find a build.xml in the user's home directory.

[2016-12-31 14:46] mrook commented on #575
This should've been fixed by 9a108da.

[2016-12-31 14:46] #575 closed

[2017-01-03 15:38] mrook commented on #588
Currently, targets are listed under "Main targets" when they have a description, and under "Subtargets" when they don't.

[2017-01-05 14:55] piotr-zuralski commented on #633
Sure, I can do that

[2017-01-09 14:47] grasmash opened #644 "Duplicate log output from replaceProperties()"
I find that importing the following build properties:

[code]

Will output the following when the `-verbose` argument is used:

[code]

This seems like unnecessary noise. I only need to be notified once about a property value, unless it changes.

In practice, this prevents me from using `-verbose` because it is too noisy. But, I still need a setting that is more verbose than 'info'.

I propose tha

[2017-01-09 22:13] #633 closed

[2017-01-10 09:25] djob opened #646 "ZipTask returns "Nothing to do ____ is up to date." when not excpected"
Steps to reproduce:

1) create zip test.zip
`<zip destfile="test.zip" includeemptydirs="true">`
2)  delete created zip
`<delete file="test.zip"" `failonerror="true"/>`
3) create new zip with same name but with refid

`<zip destfile="test.zip" includeemptydirs="true">
     <fileset refid="files.list" />
 </zip>`

4) Response: [zip] Nothing to do: test.zip is up to date.

Only common thing between f

[2017-01-11 19:38] siad007 commented on #646
I cannot reproduce it:
[code]
With successful output:
[code]

Phing version: 2.16.0

@djob can you try adding `defaultexcludes="false"` to your `fileset`, or (first maybe) with the newest phing version.

[2017-01-11 21:53] siad007 commented on #562
I think this could be closed as tested in `CopyTaskTest.xml` with:
[code]

[2017-01-18 19:45] #584 closed

[2017-01-18 22:29] danaketh commented on #636
Yeah, I prefer YAML over XML. It's easier to read, especially when your build file is complex.

[2017-01-19 08:47] mrook commented on #636
@danaketh thanks. Any comments on the gist posted above?

[2017-01-19 12:55] shunut opened #652 "Fatal Error - SebastianBergmann\Version not found"
PHP Fatal error:  Class 'SebastianBergmann\Version' not found in classes/phing/Phing.php on line 1074

All I'm doing is running phing to build an XML file for an application. The command I'm running is:

php phing -f build.xml -D application.hostname=........

[2017-01-19 12:55] mrook commented on #652
What version of Phing are you using? How did you install it?

[2017-01-19 13:08] shunut commented on #652
I'm using this in a Jenkins pipeline that I built.  I clone the Phing repository every time I run the deployment.  To be specific I clone the master branch using this repository: https://github.com/phingofficial/phing.git

I use it directly by calling it from the directory we clone the repository to, which has worked fine for the past year.

[2017-01-19 13:09] mrook commented on #652
Automatically cloning `master` is not necessarily a good idea, sometimes (as is now, apparently) the source is broken. YMMV :)

Running `composer install --no-dev -o` should do the trick in the very least, we're migrating to a composer-based setup.

[2017-01-19 13:10] mrook commented on #652
A better way would be to add `phing/phing` as a `dev` dependency to your own composer.json, or install phing globally.

[2017-01-19 13:14] shunut commented on #652
Yes, using composer would definitely be a better way to do it, however, this is a legacy application that my company does not want to continue to develop and will be replaced later this year.

I have been able to fix the issue by running: composer require sebastian/version in the directory we clone Phing to.  This will be an acceptable stop gap solution for now so I can deploy the application this

[2017-01-19 13:15] mrook commented on #652
`composer install -o --no-dev` should actually be enough after the clone, `sebastian/version` is already part of our `composer.json`.

[2017-01-19 13:18] shunut commented on #652
That it is, I see it now.  When I looked at the version of composer.json I had on our system it was not there, that is why I ran composer require.  I will investigate further, either way, I was able to deploy our application with no issues.

[2017-01-19 13:26] mrook commented on #652
Good to hear! I'll close this issue then :) Thanks for reporting.

[2017-01-19 13:26] #652 closed

[2017-01-28 14:00] mrook commented on #576
Closing because #527 was merged.

[2017-01-28 14:00] #576 closed

[2017-01-28 14:50] mrook opened #654 "Auto-discover custom tasks when installed through Composer"
Phing should be able to auto-discover custom tasks when Phing itself is installed using Composer, and the custom tasks are part of packages installed using Composer.

[2017-01-28 15:05] #562 closed

[2017-01-29 22:12] mrook commented on #574
The requested functionality can be implemented using the `condition` task:

[code]

[2017-01-29 22:12] #574 closed

[2017-01-29 22:27] mrook opened #657 "Deprecate the PEAR channel"
I'm thinking of deprecating the `pear.phing.info` channel and not release 3.x as a PEAR package.

Right now we're already depending on a few composer packages (symfony/yaml, for example), this poses an issue when generating a PEAR package.

Thoughts?

[2017-01-29 23:09] Ocramius commented on #657
Do it: even installing PEAR on any machine is a bigger fuss than anything else

[2017-01-30 13:56] marabesi commented on #657
I agree with @Ocramius, @mrook do have an idea how many installations are made by pear ?

[2017-01-30 14:13] drupol commented on #657
I would deprecate the pear channel.

[2017-01-30 14:13] mrook commented on #657
Our logs show ~7000 downloads from our PEAR channel the past 14 days. Compare that to 140.000 downloads from packagist the past 30 days, roughly 4.5k average daily downloads.

[2017-01-30 14:19] Ocramius commented on #657
Note that PHPUnit also disabled their PEAR channel (eons ago). I fail to see how a deployment/build strategy can work without proper testing as part of it, so they are most probably very old systems that keep crunching and working by sheer luck

[2017-01-30 14:20] mrook commented on #657
@Ocramius yes, I see a fair amount of downloads for older versions in our logs. Probably old systems.

[2017-01-30 14:22] Ocramius commented on #657
Then you have a very simple solution: stop doing new releases on PEAR, and keep the channel as static contents only, never to be touched again.

[2017-01-30 14:22] mrook commented on #657
Which is precisely what I suggested ;-)

[2017-01-30 14:23] Ocramius commented on #657
👍

[2017-01-30 21:20] kenguest commented on #657
Honestly, phpunit no longer pushing updates via a PEAR channel can prove to be a pain in the ass on older machines so I'm not sure I'd call that a good example to follow.

PHP_CodeSniffer still pushes new versions to [the main] PEAR channel, if you're looking for a counter-example.

[2017-01-30 21:26] mrook commented on #657
@kenguest PHP_CodeSniffer requires no external dependencies (other than extensions). At this point we do.

We could do something similar to [phpDocumentor](https://github.com/phpDocumentor/phpDocumentor2/blob/master/build.xml) (packing the `vendor` tree inside the PEAR package) but this doesn't seem worth the effort, or useful.

[2017-01-31 09:29] mpdude commented on #657
:+1: for new releases via Composer only but for a "frozen" PEAR channel.

BTW, any news on the 3.x schedule?

[2017-01-31 09:30] mrook commented on #657
@mpdude thanks for your input! No firm schedule yet, we can discuss that on Slack perhaps.

[2017-01-31 16:03] mrook commented on #657
The [PEAR channel](https://pear.phing.info/) has been deprecated.

[2017-01-31 16:15] #657 closed

[2017-02-02 16:14] urbantom opened #658 "symfony/yaml dependency improvemnt"
Could you improve symfony/yaml dependency from ^3.1 to 2.8|^3.1?

Context: current phing/phing (2.16) package requires symfony/yaml ^3.1, but drupal/core 8.2.5 (complying the criteria ~8.0 defined in composer.json distributed with drupal-composer/drupal-project project) requires symfony/yaml ~2.8.

So how to build (but not crack) environment that provides drupal/core as well as phing/phing?

[2017-02-02 18:18] #658 closed

[2017-02-02 18:27] urbantom commented on #658
Thx4help.

[2017-02-03 13:28] MaXal opened #659 "phpunit task is not compatible with PHPUnit 6.0"
PHPUnit 6.0 was rewritten to use namespaces so classes like `PHPUnit_Framework_TestListener` can't be found anymore.

[2017-02-04 12:50] AKhrulev opened #660 "Unwanted conversion value of Parameter from "true" to "1""
Tested on Phing 2.15.2
## Steps
Use parameter with value "true" in buildfile:
`<parameter type="SomeType" name="SomeName" value="true" />`
Get value of this parameter in code:
`$value = $parameter->getValue();`
## Expected result
$value is string "true"
## Actual result
$value is string "1"
## Notes
Value of parameter is automatically converted from "true" to "1". So it is **impossible** to have l

[2017-02-04 20:52] mrook commented on #660
At this point, this is expected and intended behavior. We're looking at changing that, but I don't think feasible for 3.0 - it'll break a lot of build files.

If the documentation is lacking on this, then we need to address that.

[2017-02-04 21:05] mrook commented on #660
Related: #539, #533, #534.

Thinking out loud: in 4.0 we could probably use reflection to find out the type of method arguments (assuming 4.0 will be PHP 7+) and only auto-convert strings for boolean arguments.

@mpdude what do you think?

[2017-02-04 21:06] mrook commented on #616
@mpdude are you still interested in backporting this to 3.0 / master? I can assist where needed.

[2017-02-05 18:42] lastzero commented on #622
What release will this be in? It's now 3 months later and I still see this error when using the latest ~2.0 via composer.

[2017-02-05 19:41] siad007 commented on #660
@mrook we could extend the behavior by optionally adding a prefix to the value like:
`<parameter type="SomeType" name="SomeName" value="string:true" />` or `<parameter type="SomeType" name="SomeName" value="boolean:true" />` where the prefix part would be a class handling the transformation. As an addition this could be exchanged by own implementations like `<parameter type="SomeType" name="SomeNa

[2017-02-05 20:13] mrook commented on #551
@siad007 yep, you're totally right. `phing -find` covers this case.

[2017-02-05 20:13] #551 closed

[2017-02-06 10:10] mpdude commented on #616
Yes, definitely.

This feature is of big use for me and my team and the reason why we're stuck on the  unstable-3.0 or even future-4.0 branch. To be honest, I lost track of where these changes actually live :-(

I was a bit hesitant during the last months to work on this because I have already implemented it twice on different branches that both got postponed.

So, where should the PRs be based – 

[2017-02-06 10:11] mrook commented on #616
@mpdude I understand. There were never any firm plans for those releases, real life got in the way mostly.

3.0 is master, so that'd be the branch to use. I'd like to release 3.0 somewhere in Q1 if feasible.

We probably need to centralize that discussion (on Slack for example).

[2017-02-06 10:22] mpdude commented on #660
IIRC I have worked on this (or a similar?) issue many years ago. Also see http://phing.tigris.org/ds/viewMessage.do?dsForumId=1079&dsMessageId=2771568.

If memory serves me correctly, the problem was that conversion of strings like "f", "true" etc. to boolean values happens somewhere in the code that is responsible for wiring up/configuring tasks. At that place, however, you cannot tell whether a

[2017-02-06 10:23] mrook commented on #660
Booleans are interpreted in `IntrospectionHelper`.

[2017-02-06 10:23] mpdude commented on #660
@mrook Where exactly are you expecting build file breakage in 3.0, and why is a 3.0 not a good point to fix this?

[2017-02-06 10:25] mrook commented on #660
@mpdude pretty much every build file that relies on `true` being mapped to `1`, right? The timing of the 3.0 release is one reason.

[2017-02-06 10:27] mrook commented on #659
Thanks for the report. If you'd like to contribute a fix, that'd be awesome (PHPUnit 5.x still has to be supported though!), otherwise we'll see what we can do. For the time being, you can `exec` phpunit.

[2017-02-06 10:27] mrook commented on #646
@djob any feedback?

[2017-02-06 10:30] djob commented on #646
Problem in phing script somewhere else. (zip file was not generated properly).

[2017-02-06 10:31] #646 closed

[2017-02-06 10:34] mrook commented on #659
#583 is related.

[2017-02-06 10:36] mpdude commented on #660
Well, if we update all (included/out of the box) `Task`s to apply that `Boolean::cast()`, they would continue to work as previously with values like `true`, `1`, `t`, ... At the same time, we would fix that you cannot, for example, use `f` as a property name or that `foo = true` in a properties file does not behave the same as `<property name="foo" value="true" />`.

A major version increment is t

[2017-02-06 20:52] mrook commented on #580
The `phpunit-library.phar` from https://phar.phpunit.de/ does not include the shebang. If you use that, you shouldn't see this issue (also added that to the docs).

[2017-02-06 20:52] #580 closed

[2017-02-28 16:19] jaapio opened #682 "Please add phing to phar.io"
It would be very nice to be able to download phing with phive (phar.io)

[2017-02-28 18:57] jaapio commented on #682
Never mind, this is a duplicate of #633

[2017-02-28 18:57] #682 closed

[2017-02-28 18:58] mrook commented on #682
Starting with 3.0, all phing phar's will be available to phive. Thanks!

[2017-02-28 19:12] jaapio commented on #682
Created a pr, so it will be available when you release it ;-)
https://github.com/phar-io/phar.io/pull/19

[2017-03-02 06:15] tolidano opened #683 "NullPointerException when phploc is used without a formatter"
I'm running the phing from composer (2.16)

On this page, you offer this:
[code]

However, if you ran that, you would get a NullPointerException.
The reason is that you are missing a formatter. You cannot output to the cli without one.

[code]

However, the documentation below on the formatter suggests misleading things:
1) It says you need it if you don't define reportType, but it ALSO needs it e

[2017-03-02 10:37] mrook commented on #683
The NPE is now fixed and the documentation has been updated, thanks!

[2017-03-02 10:37] #683 closed

[2017-03-03 09:43] dwkitchen opened #684 "Relative Symlinks"
I wanted to create Symlinks that would work on my local machine and in a VM, so I was happy to see the addition of relative symlinks.

However, I have found that the solution added in #567 does not work. The target used is relative to the root of the project folder, not relative the to the link being created.

If in this example ther is a file index.php:
[code]

The link the is created is `dest/in

[2017-03-03 10:27] dwkitchen commented on #684
As I investigate options I see that in the example in the SymlinkTask.php file is

[code]

The recommendation to include `${project.basedir}` at the start of the *link* path makes this more complicated also the use of an absolute path for the source means that this would not work in my example of the symlinks working inside a VM.

I am wondering if there is already a function in the Phing dependen

[2017-03-03 12:53] mrook commented on #553
The `input` task now uses `symfony/console` to ask questions, and a `hidden` attribute has been introduced.

[2017-03-03 13:36] #553 closed

[2017-03-13 08:50] SOMERSOFTAndrewCrook opened #693 "patchTask not shell escaping file paths"
patchTask fails if the user supplies file paths that contain spaces. For example if the patch file has a directory of the format 'A - B C D', the patchfile parameter stops at 'A', the 'B', 'C' and 'D' will be appear on the command line as extra parameters to the patch program.

[2017-03-13 14:49] mrook commented on #659
Should be fixed by #688.

[2017-03-13 14:49] #659 closed

[2017-03-15 08:20] cdekok opened #694 "Svn base tasks links hard to /user/bin/svn"
https://github.com/phingofficial/phing/blob/e0d02162f89970edd6b99efe8346c8854b99836d/classes/phing/tasks/ext/svn/SvnBaseTask.php#L48

Can we change it to just use `svn` as the hardcoded path will in some cases not work.

[2017-03-15 08:30] mrook commented on #694
You can override the path by adding the `svnPath` attribute to each svn task.

[2017-03-15 08:58] kenguest commented on #694
e.g. (as per https://www.phing.info/docs/guide/stable/SvnCheckoutTask.html)

&lt;svncheckout
   svnpath="/usr/bin/svn"
   username="anonymous"
   password="anonymous"
   nocache="true"
   repositoryurl="svn://localhost/project/trunk/"
   todir="/home/user/svnwc"/&gt;

This is supported in a all SVN tasks.

[2017-03-21 13:11] mrook commented on #694
Closing as per above comments.

[2017-03-21 13:11] #694 closed

[2017-03-22 15:16] jakoch commented on #636
YAML support landing? That's awesome.  👍

I suggest to get rid of all the underscores (because they are not really needed and it looks nicer without them), e.g.

[code]

[2017-03-24 07:09] #693 closed

[2017-03-24 07:12] mrook commented on #636
Thanks for your comments @jakoch. Whether yaml support actually lands is a question of available time (and/or pull requests) :)

By the way, I think the naming cleanups are out of scope for this change (as they would break existing xml build files).

[2017-03-24 07:15] mrook opened #700 "Refactoring: use ExecTask to cleanup PatchTask"
Pretty much all `PatchTask` does is call an external CLI tool, we can wrap that in `ExecTask` to reduce duplication.

[2017-03-24 07:17] mrook commented on #569
Closing because #309 was closed.

[2017-03-24 07:17] #569 closed

[2017-03-24 07:18] mrook commented on #560
@siad007 you use Windows right? Can you maybe test whether this issue still occurs?

[2017-03-24 07:21] mrook commented on #532
There is now an initial implementation, a logger which covers targets and tasks. Progress reports inside tasks is something else, and probably out of scope for now.

The logger can be used by invoking `phing -listener phing.listener.ProgressLogger`.

[2017-03-24 07:21] #532 closed

[2017-03-24 07:22] mrook commented on #544
Cleaning up old tickets without (recent) activity.

[2017-03-24 07:22] #544 closed

[2017-03-24 08:10] mrook commented on #540
Cleaning up old tickets without (recent) activity.

[2017-03-24 08:10] #540 closed

[2017-03-24 15:19] mrook commented on #559
Implemented by #674, #675, #678, #679 and #680.

[2017-03-24 15:19] #559 closed

[2017-03-26 13:43] cdekok commented on #694
Yes I know but it would be better to have proper defaults

[2017-03-26 14:59] mrook commented on #694
Then the svn tasks would have to assume that the `svn` binary is on the path, which may not be the case.

[2017-04-06 11:58] mrook commented on #537
The confusion about `project.basedir` was fixed in #668.

[2017-04-06 11:58] #537 closed

[2017-04-08 21:29] siad007 commented on #560
@mrook

Instead of a fatal error, a BuildException with `Could not read file symlinked_folder` is thrown.

[2017-04-09 14:33] siad007 commented on #535
This is AFAIK solved!

Example for character data taken from above:
[code]
would produce following output:
[code]

[2017-04-09 17:20] mpdude commented on #535
Haven't looked at this for about 6 years :-)

Do you know where the change took place?

[2017-04-09 17:40] siad007 commented on #535
@mpdude I donot know it really but found a possible commit in the git history:
`36e6472 Michiel Rook <mrook@php.net> on 14.01.2013 at 21:54`
where in `RuntimeConfigurable::maybeConfigure()` :
[code]
the line `$this->characters="";` was removed.

[2017-04-20 13:14] piotr-zuralski opened #705 "Overtaking of https://github.com/phing"
Hi,
https://github.com/phing doesn't seem very active, it may be worth to try to reach GitHub to claim that name?

[2017-04-23 21:52] siad007 commented on #587
What about something like:
[code]

[2017-04-24 13:21] Haehnchen opened #706 "Parallel Task: Call to a member function push() on null in ... Manager.php:237"
Looks there is an issue in parallel task `isset`

[code]

https://github.com/phingofficial/phing/blob/master/classes/phing/contrib/DocBlox/Parallel/Manager.php#L237

[code]

[2017-05-01 19:33] feamsr00 opened #710 "SassTask: Consider removing/embeding the dependency on Pear::System"
Hi,

The optional SassTask seems to depend on the Pear::System package for one thing: `System::which`.

According to https://github.com/pear/pear-core/blob/master/System.php#L487, this appears to do only one thing: 'show the full path of a command.'

Perhaps it would be best to bundle or even refactor that requirement as installing PEAR (just for a which/where command) is a fairly high amount of f

[2017-05-03 02:10] chrisjohnson00 opened #711 "VersionTask adds trailing new line to the file"
When using the VersionTask to increment a version file, I'm finding that it's adding a trailing new line to the version file.  Elsewhere in my build.xml I read from this file (in cases where I need the version number, without incrementing it - deploying the latest build), and at this point it's outputting the version number with an extra line break.  If using the version number, in a file name for

[2017-05-03 02:48] chrisjohnson00 opened #712 "ansible provisioning doesn't work in vagrant on mac"
After cloning the project to fix an issue I reported, I attempted to bring up the virtual machine via vagrant.  After executing a `vagrant up` I get the following error from the ansible provisioning:

    ==> default: Running provisioner: ansible...
    default: Running ansible-playbook...

    PLAY [all] *********************************************************************

    TASK [Gathering Fa

[2017-05-03 03:18] chrisjohnson00 commented on #711
see PR #713

[2017-05-03 03:28] chrisjohnson00 commented on #711
if anyone lands on this issue and my PR isn't in a live version, or is declined by the project owners... here's the workaround I had to put in for this issue.

                <loadfile property="version.number" file="version"/>
                <php function="trim" returnProperty="version.number">
                    <param value="${version.number}"/>
                </php>

[2017-05-11 09:14] mreiche opened #715 "HttpRequestTask doesn't support POST application/json"
As mentioned here https://github.com/phingofficial/phing/pull/228 and here https://github.com/phingofficial/phing/blob/master/CHANGELOG.md#aug-21-2013---phing-260

Phing HttpRequestTask should be able to POST application/json

[code]

But
[code]
is empty.

It supports POST as urlencoded parameters when removing "Content-Type"

I'm using Phing 2.13.0

[2017-05-11 12:02] dmromanov opened #716 "Support for PHP_CodeSniffer 3.0"
When trying to run a PhpCodeSnifferTask with PHP_CodeSniffer 3.0 installed I get the following message: `This task requires the PHP_CodeSniffer package installed and available on the include path`

With PHP_CodeSniffer 2.9.1 it works flawlessly.

[code]

[2017-05-11 12:46] kenguest commented on #716
There is a large number of backwards incompatible changes between v3 of PHP_CodeSniffer and v2 that resolving this issue will be no small matter. ( https://github.com/squizlabs/PHP_CodeSniffer/wiki/Version-3.0-Upgrade-Guide ).

It may be that a phpcodesniffer3 specific task should be created rather than change the existing task to be compatible with both versions/codebases.

[2017-05-11 13:13] dmromanov commented on #716
I would like to have transparent compatibility between versions, if possible. It would be the best choice.

[2017-05-11 15:26] kenguest commented on #716
I agree - certainly from an "end user" perspective. Providing that solution may require a more technically challenging solution, however.

[2017-05-13 23:22] siad007 commented on #712
Strange I cannot reproduce this problem on my environment.
Maybe this [stackoverflow post](http://stackoverflow.com/questions/32429259/ansible-fails-with-bin-sh-1-usr-bin-python-not-found) is related?
It would be very helpful if you could try this code for your `playbook.yml` and report back the result:
[code]

[2017-05-13 23:44] siad007 commented on #711
There is a (not documented) attribute `propfile` in the `VersionTask` to save property file of your version
[code]
But this should be added to the documentation as well.

[2017-05-15 01:15] chrisjohnson00 commented on #712
@siad007 - Can you try destroying the phing vagrant environment and then execute a vagrant up?  Does that succeed for you?
There's a different message now, but looks like same root problem "shared connection to 127.0.0.1 closed

[code]

[2017-05-15 01:16] chrisjohnson00 commented on #712
also of note... here's my version of ansible

[code]

[2017-05-15 01:29] chrisjohnson00 commented on #711
@siad007 i have use cases where I'm creating a tar.gz of my project without incrementing the version in the version file, just reading the value from the file.  Thus, I'm using `loadfile`to read from the version file without altering the version number.  This is where the issue resides, the value in my version file has a trailing line break, which gets carried over into the property value when usi

[2017-05-15 01:45] chrisjohnson00 commented on #712
running the playbook manually works, having vagrant do it does not.

[code]

So the problem lies in `Vagrantfile` i think...

[2017-05-17 13:09] siad007 commented on #711
Why not just reading from a property file instead?

[2017-05-17 15:30] JimSterling opened #721 "Cannot receive mail"
I am having a slight issue with trying to send mail. I have installed the PEAR Mail package, but I still cannot even receive the mail I send from phing. Here is my basic example of my MailTask (some data has been protected):

`<mail from="admin@someplace.com" tolist="user@someplace.com" subject="build complete">
            The build process is a success...
 </mail>`

Another problem I am seeing i

[2017-05-17 15:45] mrook commented on #721
Hi @JimSterling, what output does phing produce? Can you run `phing -debug` ?

[2017-05-17 15:51] JimSterling commented on #721
this is for the basic email:

here is the output for the email send with an attachment:

Buildfile: /var/www/project/build.xml

if I move the <include> from within the fileset, and put it in the fileset tag, it finished the build

[2017-05-17 16:10] JimSterling commented on #721
sorry, here is the full debug output

[2017-05-17 17:26] chrisjohnson00 commented on #711
@siad007 I tried adding `propfile="true"` into my version task, but that resulted in the following error

[code]

I'm running `Phing 2.16.0`.

[2017-05-17 20:17] JimSterling commented on #721
As an update: I set up a mail server in my VM, and I was able to send out the basic mail, buit I am still getting troubles with sending a fileset with it

[2017-05-17 21:36] JimSterling commented on #721
Here is the code I am using to sent the file (it may be the wrong way to do it):

`<mail from="admin@someplace.com" tolist="user@someplace.com" subject="test mail">
            <fileset dir="reports">
                <include name="report01"/>
            </fileset>
 </mail>`

if that is incorrect to do, please let me know!

[2017-05-18 23:05] siad007 commented on #711
@chrisjohnson00 uh oh - my fault - i didn't recognice your version of phing. Sorry for your inconvinence there and you are absolutely right to have such workaround for your phing version or lower. I just have the actual master code in my scope, where it would be possible this kind of the behavior you mentioned could be made in a more better 'phing' way. Imagine you not only using this version file

[2017-05-24 10:55] mrook commented on #715
Fixed in #720.

[2017-05-24 10:55] #715 closed

[2017-05-24 10:56] mrook commented on #706
Closed by #707.

[2017-05-24 10:56] #706 closed

[2017-05-29 04:40] luiscarlosborbon commented on #636
@mrook I really think a YAML configuration file is a feature that definitely will benefit both the phing project and phing users. In fact, in multiple occasions I had tried to search for phing alternatives, but I usually found out that phing covers a consistent set of build use cases, especially for PHP applications.

Please find these suggestions, slightly influenced by Ansible playbooks.
https:/

[2017-06-07 00:51] chrisan opened #722 "www.phing.info appears to be down"
http://downforeveryoneorjustme.com/https://www.phing.info/

Wasnt sure where to reach out to alert

[2017-06-07 07:14] mrook commented on #722
Looks like the server hosting phing.info is having some trouble. Will post updates when I know more.

[2017-06-07 10:17] cmmata commented on #722
It's working now

[2017-06-07 11:15] mrook commented on #722
The server was rebooted and works again.

[2017-06-07 11:15] #722 closed

[2017-06-07 15:07] siad007 commented on #721
@JimSterling can you provide your exim4.conf? Seems to me that there is a forgotten config setting. Make sure that `dc_eximconfig_configtype='internet'` is set.

[2017-06-13 06:27] mreiche opened #723 "Provide PHP_BINARY as built in property ${php.binary}"
I need to call PHP tasks:

[code]

But the php binary in path, is not ever the same php version phing is running with.
It is possible to change the PHP-Version for phing by defining the environment variable PHP_COMMAND, but providing this value as built in property is imho more intuitive.

[2017-06-13 08:56] mrook commented on #723
Phing already provides the `php.interpreter` property - which could be documented a little better I guess :)

[2017-06-15 15:08] arruor opened #724 "PHPLoc task Wrong class name for XML Logger class"
composer.json:
[code]

task definition:
[code]
Stack trace
[code]

[2017-06-15 15:12] arruor opened #725 "PHPLoc Task: Wrong class name in CSV Formatter"
composer.json:
[code]

task definition:
[code]
Stack trace
[code]

[2017-06-17 12:29] siad007 commented on #723
There are a lot of useful properties we could use. A complete list of all available properties could be found after executing phing with the option `-diagnostics`
[code]

[2017-06-18 21:44] siad007 commented on #711
This is included in the upcoming phing 3.0 release. So i will close this issue.

[2017-06-18 21:44] #711 closed

[2017-06-19 14:59] mreiche opened #732 "How to use phing directly as PHP component?"
I want to read all included build.xml and properties from PHP.
Where can I find documentation about how to use Phing as component?

[code]

I found https://www.phing.info/docs/api/trunk/, which is good as a reference, but I'm looking for a getting started howto.

[2017-06-19 15:00] mrook commented on #732
Not entirely sure why you'd want this?

[2017-06-19 15:01] #724 closed

[2017-06-19 15:01] #725 closed

[2017-06-19 15:09] mreiche commented on #732
The main reason: I'm developing a Phing web frontend for our DevOps. Where they can easily input properties according to the current web, ea. the web project's branch name.

Therefor I need to know all available properties in all build.xml.

I have a default ``build.xml``, which includes several other build.xml from a different location:
[code]

These project ``build.xml`` can contain properties:

[2017-06-19 15:28] mreiche opened #733 "How to get the Path/Dir of the current build-file"
When importing properties like
[code]
Phing is looking for ``web.properties`` in the start directory of phing.

I want to import property files based on the directory of the current ``build.xml``

[2017-06-19 17:58] #723 closed

[2017-06-20 07:16] mrook commented on #733
`phing.file` refers to the current build file, `phing.dir` to its directory.

For future operational/usage questions such as this one, please join our Slack channel at https://www.phing.info/slack/.

[2017-06-20 07:16] #733 closed

[2017-06-20 07:18] mrook commented on #732
We don't really support calling Phing directly from other applications, so ymmv.

Properties that are defined in imported build files can only be listed at runtime (after they're all resolved).

You can call `getProperties` on the right instance of `Project` to iterate over all available properties.

[2017-06-20 07:18] #732 closed

[2017-06-20 07:23] mreiche commented on #732
More details please

[2017-06-20 07:25] mrook commented on #732
`Phing::getCurrentProject()->getProperties()`. Please do look at the code, and ask any further integration/usage questions on Slack.

[2017-07-14 14:09] #577 closed

[2017-07-27 17:30] annmaybury opened #745 "Help installing Phing using Netbeans and XAMPP"
#XAMPP is installed on my Windows 10 Pro Computer.  I am trying to use Netbeans 8.2 for a php/thml5... project.   When I try to build the php project that built perfectly when I was using NetBeans 7.2,  I get a dialog that says phing is needed.  My Unix/Command experience is somewhat limited and I am having problems getting phing installed.

I have tried the following phing install commands from t

[2017-07-27 17:58] siad007 commented on #745
@annmaybury Please use our slack channel for support - not the bugtracker here.
Anyway you can get the installation path of your pear dependencies described [here](https://stackoverflow.com/questions/5334251/where-do-pear-packages-normally-get-installed).
If you have trouble getting the right path, feel free to ask it on our [slack channel](https://www.phing.info/slack)

[2017-07-27 17:58] #745 closed

[2017-07-27 18:28] siad007 commented on #710
I closed this issue as it was solved in master branch.

[2017-07-27 18:28] #710 closed

[2017-07-30 22:55] siad007 commented on #535
Closed as solved.

[2017-07-30 22:55] #535 closed

[2017-08-30 12:44] ogmueller opened #764 "stopwatch includes autoloader"
When i am trying to use the StopwatchTask in phing, it will always say "StopwatchTask requires Stopwatch to be installed".

I did as it is suggested by "http://pear.symfony.com/" using "pear install symfony2/stopwatch". Installation worked fine, but the include in the phing task is wrong. So even after installing stopwatch, it still doesn't work.

it tries to:
`@include_once 'Symfony/Component/Sto

[2017-08-30 13:03] ogmueller opened #765 "feature request: stopwatch should show name as well"
It would be really nice, if stopwatch would output the current stopwatch name to identify which stopwatch is doing the output. The only string that is displayed, is the category, but I assume, this has a different purpose.

This stopwatch
`<stopwatch name="myname" category="mycat" />`
is outputting
[code]

[2017-08-31 05:08] verbruggenalex opened #766 "Adding extra attributes to target tag."
Is there a way to introduce new attributes to the target tag? I'm trying to extend the targethandler but failing to do so. The reason I want to introduce an extra atrribute is to categorize the targets for easy documentation generation. Being able to categorize these targets would enable me to do so.

I have several different target types I wish to define:
Wrapper targets: https://github.com/ec-eu

[2017-08-31 17:51] siad007 commented on #766
Hi @verbruggenalex i am not sure what your intention is in here. What is the categorized thing you are talking about? Would this only be to visualize somewhat somehow? Or is this something about
[code]
where the target named foo would be your category?
Maybe something like this would cover your needs?
[code]
[phing manual - 4.2.2 Target Element](https://www.phing.info/docs/master/hlhtml/index.html

[2017-08-31 17:59] siad007 commented on #765
@ogmueller you are right this should be included in the info as well.

[2017-09-02 15:42] verbruggenalex commented on #766
Well I wanted to keep my own naming conventions. So I decided to parse my buildfiles:
<details><summary>Parser</summary>

[code]

<details><summary>Result</summary>

[code]

[2017-09-06 21:39] Erikvv opened #772 "Support PHPStan"
This is an essential tool for PHP CI.

Unfortunately it seems like it would require a large amount of code to support all the options of PHPStan.

[2017-09-12 20:44] maglnet opened #775 "PharPackageTask - allow setting shebang"
I would like to add a shebang line `#!/usr/bin/env php` at the beginning of a phar file but I have no idea how to do this.

When I create a simple php file which creates the `phar`, everything works as expected
https://gist.github.com/GaryRogers/d67c95dbf3e77c330bbf#file-createphar-php-L18

My current `pharpackage`-Task looks like this:
https://github.com/maglnet/ComposerRequireChecker/blob/87f7e8

[2017-09-12 22:11] siad007 commented on #775
@maglnet You can do this for example using the `AppendTask` just before `<pharpackage ... />` task like:
[code]
Fell free to use our [slack](https://www.phing.info/slack/) channel next time!

[2017-09-13 08:41] maglnet commented on #775
@siad007 Well, your approach is the same like using this file as a `clistub`: https://github.com/maglnet/ComposerRequireChecker/blob/master/bin/composer-require-checker
But it does not have the same effect like the approach mentioned in the gist, which effectively adds a shebang to the very beginning of the `phar` file.

It seems like i have to create a stub like this https://github.com/phingoffic

[2017-09-15 20:32] siad007 commented on #775
Ah ok that makes sence...

[2017-10-03 12:30] hasanilingi opened #787 "Stalker Portal Build Error: phing.tasks.ext.dbdeploy.DbDeployTask doesn't support the 'userid' attribute."
Hi all,
I'm trying to build **infomir stalker portal 5.3.0** for test it with **phing**.  But i face with a problem and can not build it. The error message is
`phing.tasks.ext.dbdeploy.DbDeployTask doesn't support the 'userid' attribute.`
**My system information**
**OS:** Ubuntu 14.04.5 64Bit
**PHP:** PHP 5.6.31-6+ubuntu14.04.1+deb.sury.org+1
**Mysql:** mysql Ver 14.14 Distrib 5.5.57 for debian-li

[2017-10-03 13:46] siad007 commented on #787
Hi @hasanilingi would you mind removing not necessary taskdef and post the result then?

[code]

[2017-10-03 14:27] hasanilingi commented on #787
Hi @siad007 i remove

[code]

and try again. But same error occured.

[2017-10-03 14:29] siad007 commented on #787
Ok we will have to investigate further... thx for reporting

[2017-10-03 15:23] siad007 commented on #787
I made a little test case without failures:
On a fresh DB:
[code]
executing this build script with actual phing from master branch
[code]
Result
[code]
BTW the error `phing.tasks.ext.dbdeploy.DbDeployTask doesn't support the 'userid' attribute.` would cover a not properly installed phing.

[2017-10-03 16:56] hasanilingi commented on #787
Hi,
I format the server make a clean install of OS. Then i make a fresh install of phing v2.1.6 i get same error again.

and also i install dev version from github via composer but nothing changed.

[2017-10-03 17:02] siad007 commented on #787
Can you please post the output with the `-debug` flag on?

[2017-10-05 12:30] tomcodes opened #789 "Wrong exit code when running shell command “composer install” in sshTask"
I use Phing 2.13.0. I have the following command in a phing build file:

`<ssh username="${ssh.user}" host="${ssh.host}" port="${ssh.port}" pubkeyfile="${ssh.pubkey}"
             privkeyfile="${ssh.privkey}"
	     command="cd ${local.APP_PATH_NEW_RELEASE} ; php composer.phar install --no-ansi --no-dev --no-interaction --no-progress --no-scripts --optimize-autoloader"
	     display="true"/>`

I tr

[2017-10-05 18:44] siad007 commented on #789
Duplicates and Related to #586
Closed that for duplication

[2017-10-05 18:44] #789 closed

[2017-10-05 19:05] siad007 commented on #789
@tomcodes thanks for reporting but this is a bad behaviour introduced in #586 . We are working on a fix...

[2017-10-05 19:17] siad007 commented on #787
I will close this issue because of not replicateable using the test script above. If you post your debug message, we will  investigate your problem further.

[2017-10-05 19:17] #787 closed

[2017-10-05 19:22] siad007 commented on #775
@maglnet Is it working?

[2017-10-06 05:13] maglnet commented on #775
@siad007 sorry, I forgot to give feedback. I'm currently doing it like this:
https://github.com/maglnet/ComposerRequireChecker/commit/3254d4320d2510e05149fec40868bc272f6efee7

[2017-10-18 14:58] #765 closed

[2017-10-19 13:22] #764 closed

[2017-10-19 18:54] kniziol commented on #716
Same problem here. Details below.

**composer.json**
[code]

While running:

[code]

I got an error:

[code]

Versions:

[code]

[code]

How to solve it?

[2017-10-19 19:41] mrook commented on #716
@kniziol right now, there's no way to solve this, Phing simply doesn't support phpcs 3.x yet.

As @kenguest says, it's not trivial to support both versions transparently. I don't think we should go that way to be honest, but rather drop phpcs 2.x support. Pull requests for either solution are welcome btw.

[2017-10-19 20:33] ThomasWeinert opened #795 "Make the current release Phive installable"
It is promised for upcoming releases (>= 3.0), but this is in the future.

So it would be really nice to add the current phar and a matching signature to release 2.16.0 on Github. This would make it possible to use Phive to install Phing.

I tested that with a repository of my own at: https://github.com/thomasweinert/phing

[2017-10-20 17:11] jawira opened #796 "Init feature"
It would be nice to have an "initialize" option for Phing.

I systematically look for this feature everytime I discover a new package.

This kind of feature is usual nowadays, to name a few:

  * Behat: `$ behat --init`
  * Composer: `$ php composer.phar init`
  * Phinx: `$ phinx init .`

So for Phing I'm wanting something like this:

[code]

[code]

Ideally this command would create two files at

[2017-10-20 19:10] siad007 commented on #796
Thanks for your PR!
Some small issues:

- do we really need a property file generated?
- if so, there is no support for sections by a property file but for ini files

I would suggest dropping the generation of the property file.

[2017-10-20 19:16] siad007 commented on #796
What do you think about a optional usage of a filename?
[code]
It would also be nice to support
- a single file (phing.xml)
- with a relative path (test/phing.xml)
- or an absolute path (/path/to/phing.xml)
What do you think.

[2017-10-20 19:41] siad007 commented on #795
@thomasweinert you can use the phar archives from `http://www.phing.info`
[code]

[2017-10-20 20:41] Jawira commented on #796
Thanks a lot for your quick feedback!

About **generation of property file**: I added this because it's what I always use in all my projects, and I consider it's a good practice to keep all properties together in a same file, however, I agree that not all people need or want a property file.

Regarding sections, I know they are not supported by properties and are omitted, but I always use sections

[2017-10-20 20:44] Jawira commented on #796
I updated my PR, I have taken into account your suggestions.

[2017-10-20 21:07] thomasweinert commented on #795
Phive only installs from https and only if it can find a valid signature as well.

[2017-10-20 21:14] mrook commented on #795
phing.info can be accessed over https. Not sure what else we need, I've never used phive.

[2017-10-20 21:17] thomasweinert commented on #795
A PGP signature stored as `phing-2.16.0.phar.asc`

[2017-10-23 15:25] MaXal opened #799 "Can't install dev-master version using Composer"
I have the following `composer.json`:
[code]

Running `composer install` I get:
Your requirements could not be resolved to an installable set of packages.

[code]

I believe the reason is the following commit: 97532911e70c0a87ddc452648a40dced861b2b3b

[2017-10-23 20:30] siad007 commented on #799
hi @MaXal can you please try adding following to your composer.json - try again and post the result here again please?
[code]

[2017-10-24 11:14] mwierzbi commented on #799
nope. after added repository there is an error when composer tries to generate autoload:

[code]

I think this line is a problem:
https://github.com/phingofficial/phing/blob/master/composer.json#L68

[2017-10-26 12:47] MaXal commented on #799
@siad007 I get the same error as @mwierzbi and to be honest I believe there should be no need to add additional dependency to the client composer.json anyway since it defeat the purpose of Composer.

[2017-10-26 13:26] siad007 commented on #799
@mwierzbi @MaXal I will do a PR on the `phpDocumentor/Parallel` repo for composer support.

[2017-10-26 13:54] mrook commented on #799
Should we revert the change in phing so that dev-master works again?

[2017-10-26 13:56] siad007 commented on #799
Let us revert the change until phpDocumentor/Parallel will served by composer. Thx @mrook

[2017-11-01 12:14] jawira opened #802 "Cannot make work PHPUnit 6"
Hello, I'm having some trouble making work PHPUnit6 with Phing.

Everything works well if I execute PHPUnit from command line:

[code]

But when I use Phing it doesn't work:

[code]

The target:

[code]

Any help would be appreciated 🙏

[2017-11-07 15:08] guckykv opened #803 "<phpcodesniffer> and pharlocation"
Hi!

Is it possible to use the code sniffer phar package? (From https://github.com/squizlabs/PHP_CodeSniffer#installation)

Maybe with argument `pharlocation` like in `<phpcpd>`?

I've tried to add the phar to the search path, but this down't work.

[code]

Thanks!

[2017-11-13 09:28] chumanfu opened #805 "SVN Revert task"
The SVN Revert task needs implementing.
This will help if you have a hot checkout of your project which your build script may manipulate and then need to revert i.e. running grunt or gulp for production.

http://svnbook.red-bean.com/en/1.7/svn.ref.svn.c.revert.html

[2017-11-13 09:31] mrook commented on #805
Are you willing to contribute the task?

[2017-11-13 09:32] mrook commented on #802
Can you test #804 ?

[2017-11-13 09:36] kenguest commented on #805
I might be able to implement this if not already contributed this week - iirc the svn tasks utilise pear's VersionControl_SVN package ; I'm ideally placed to add in functionality there w my PEAR QA hat on ;-)

[2017-11-13 20:42] chumanfu commented on #805
I tried to make a start on this but was unable to install the dependencies on my mac, ubuntu and when i tried via travis. Is there something additional which needs installing?

[2017-11-13 21:58] kenguest commented on #805
There's a phing docker image if that helps? https://github.com/edyan/docker-phing
Docker does seem to be all the rage :D

[2017-11-14 09:54] antonmarin opened #806 "docker container"
What about container phing/phing?
- no :v2 tag
- no :latest tag
- :v3 doesn't work

Where to contribute?

[2017-11-22 14:59] #573 closed

[2017-11-22 14:59] mrook commented on #802
#804 has been merged, closing this issue - if there are more phpunit 6 problems, please re-open or start a new issue.

[2017-11-22 14:59] #802 closed

[2017-11-22 15:00] mrook commented on #806
That container is still experimental - I probably should've marked it as such.

[2017-11-22 15:01] mrook commented on #803
We may want to fix this as part of the fix(es) for #716.

[2017-11-22 15:02] mrook commented on #705
phingofficial works well for now, thanks for the suggestion though!

[2017-11-22 15:02] #705 closed

[2017-11-22 15:03] mrook commented on #775
Can this issue be closed @maglnet ?

[2017-11-22 16:37] antonmarin commented on #806
1. Are you going to create v2 container?
2. Can i help?

[2017-11-22 16:42] mrook commented on #806
v2 wasn't really on my list to be honest, I'd like to release 3.0 before the year is over (not sure if we'll make it), and I want to avoid doing any v2 releases (which a v2 docker image will probably require)...

I've changed docker hub to automatically build from the Dockerfile in master. If you want to help, I'd definitely appreciate pull requests against that!

[2017-11-23 06:23] #775 closed

[2017-11-24 10:32] MaXal commented on #799
@siad007 Any news on the issue?

[2017-11-26 13:45] mrook commented on #799
@MaXal #800 was just merged, can you test & verify that that solves it?

[2017-11-27 18:25] MaXal commented on #799
@mrook Having the following `composer.json`:
[code]
I still get:
[code]

[2017-11-28 09:27] gfaust-qb opened #809 "PharPackageTask wrong format of path in webstub and/or clistub when building on Windows"
The documentation describes _webstub_ and _clistub_ in _PharPackageTask_ as relative path in the phar-archive.
When building on a windows system this path is build in the windows-format with _\\_ as directory separator. Using this phar-archive in a linux-environment fails with the message: _src\cli.php not found_.
In the generated stub.php (nearly) all paths have _/_ as directory separator except

[2017-11-28 15:29] siad007 commented on #799
@MaXal maybe a cache issue? Did you try a `composer clearcache` before?

[2017-11-28 16:05] MaXal commented on #799
@siad007 I've just tried. The behavior is the same. We also run `composer install` each night on clean build agents and they continue to fail since your initial change.

[2017-11-28 21:28] siad007 commented on #799
@MaXal as you said there is still a problem with your kind of setup. Would you mind posting more info on your setup then? I mean since there is no issue on travis building a fresh version on ubuntu - there is no failure as well on windows either on the normal cli as on cygwin. Maybe there is a os which should be tested more intensive.
So my questions:
1. which os you are using
2. are the vendor fo

[2017-11-29 09:30] #809 closed

[2017-11-29 09:31] mrook commented on #796
Closed because #797 was merged.

[2017-11-29 09:31] #796 closed

[2017-11-30 12:14] aboullaite commented on #712
I've managed to get this working by adding this to my `Vagrantfile`:

[code]

[2017-12-07 13:59] mrook opened #813 "Bump minimum PHP version to 7.0+"
As 5.6 is out of active support, I suggest bumping the min PHP version to 7.0.

What do you think @kenguest @siad007 ?

[2017-12-07 14:00] siad007 commented on #813
@mrook makes totally sence as it would be helpful integrating phpunit 6 phar support

[2017-12-07 14:08] kenguest commented on #813
mightn't be the world's worst idea ;-)

On 7 December 2017 at 14:00, Siad Ardroumli <notifications@github.com>
wrote:

--
http://about.me/kenguest/

[2017-12-07 14:09] gfaust-qb commented on #813
I would not do this without need! If you change to phpunit 6, it is needed and it should be bumped - but without a need it is only a political decision and you should not do it.

[2017-12-07 14:09] mrook commented on #813
Political decision? Can you explain what you mean? There are no politics involved here, just pragmatism.

[2017-12-07 14:12] gfaust-qb commented on #813
Why should you raise requirements without need? That's not pragmatism, only a political decision.
When needing features, libraries or tools with PHP7 requirements it should become a requirement.

[2017-12-07 14:13] mrook commented on #813
Who's saying there's no need? PHP 5.6 is no longer actively supported. Phing depends on packages which have bumped to PHP 7.0+, so keeping compatibility is going to be harder. Maintaining tests is going to be harder. It'll allow us to use PHP 7.0+ features over time, etc. etc.

Again, politics are not a factor here.

[2017-12-07 14:14] kenguest commented on #813
A requirement to get people out of the Year of the Wingding, let's say....

On 7 December 2017 at 14:12, gfaust-qb <notifications@github.com> wrote:

--
http://about.me/kenguest/

[2017-12-07 14:16] gfaust-qb commented on #813
Add the requirements only when you use it. If you don't use it, don't change it.

[2017-12-07 14:17] mrook commented on #813
The requirements haven't changed, the tools have. We're apparently not talking about the same things here.

[2017-12-07 14:20] gfaust-qb commented on #813
That wasn't your initial question ... you didn't ask if it is okay to raise the required php version to support phpunit 6 you want to use - you only asked for changing the requirements.

We should stop it here, I got your point, that you want to update the toolchain and PHP7 is needed for this - and in this case I agree.

[2017-12-07 14:22] mrook commented on #813
Yes, supporting PHPUnit 6 will become easier when we bump to PHP 7, but is not the primary reason to update to 7. Maintaining support for PHP 5.6 will take more and more time, that's the primary reason. Thanks for your input.

[2017-12-07 14:29] lcobucci commented on #813
It's important to note that PHP 7.0 is also not actively maintained as well http://php.net/supported-versions.php

[2017-12-07 14:30] mrook commented on #813
@lcobucci yeah that's fair enough. Bumping to 7.1 is probably too strict, I understand that a lot of distributions still carry 7.0.

[2017-12-07 14:40] kenguest commented on #813
... especially since 7.0 is only 4 days out of active support.

On 7 December 2017 at 14:30, Michiel Rook <notifications@github.com> wrote:

--
http://about.me/kenguest/

[2017-12-07 14:42] lcobucci commented on #813
@mrook and those distributions can use the previous version of phing, which is quite stable.

We're doing this on @doctrine and we it's bringing lots of benefits to the codebase (specially for having proper type declaration support).

People will always complain that the latest version is not compatible with their outdated OS but it's impossible to have the nice and shiny things available everywhe

[2017-12-07 15:45] MaXal commented on #799
@siad007 Could you please create a single file in the empty folder:
[code]
and run `composer install` from there?

As you can see there is no `phpdocumentor/parallel` package info on packagist: https://packagist.org/?q=phpdocumentor%2Fparallel&p=0

Execution of `composer require --dev phpdocumentor/parallel` leads to:
[code]

I'm using macOS but as I said the issue is reproducible on clean Ubuntu

[2017-12-07 19:57] Crell commented on #813
IMO, you should do it but

1) Make the change on a new major version.
2) Maintain a security-fix-only version of the previous version for another year until 5.6 is out of security support, too.

That way people using Phing on projects that can't move to PHP 7 (which do exist) aren't completely out in the cold; they're just on notice that they will be in the foreseeable future.

(Disclaimer: Yes, I

[2017-12-07 20:02] siad007 commented on #813
Yes you are right we will Plan this change on the next 3.x release comming
soon - for the 5.x we have still the stabel 2.x branch

Larry Garfield <notifications@github.com> schrieb am Do. 7. Dez. 2017 um
20:57:

[2017-12-08 11:18] Jean85 commented on #813
I would suggest to bump directly to 7.1 too. That is the moment to take leverage of scalar, return and nullable types all at once, on a major version. Otherwise you would have to wait for the next major, that could be too much into the future.

It's a bit of work, so the actual release would be a bit into the future, when 7.0 will be long out of active support.

[2017-12-08 18:44] mingomax opened #814 "Phing 3.x phpdocumentator/parallel error"
Hi, the package 3.0.x-dev has a dependency called phpdocumentor/parallel but this package don't exist in packagist and here we found this respository https://github.com/phpDocumentor/Parallel but the last commit  6 year ago and when I added this repo  as dependency I still continue with the same error. Perhaps this a know bug/error?

![image](https://user-images.githubusercontent.com/227170/337786

[2017-12-09 17:57] melbings commented on #799
@siad007 I have the same problem as @MaXal, even on a fresh install, given the recommended way of installing phing:

[code]

Calling ```composer install``` results in:

[code]

Please advise, thank you.

[2017-12-11 08:45] mrook commented on #799
Should be resolved by #815 - can someone verify that?

[2017-12-11 08:45] mrook commented on #814
Duplicate of #799.

[2017-12-11 08:45] #814 closed

[2017-12-11 09:14] melbings commented on #799
@mrook @siad007 Works! Thanks a lot!

[2017-12-11 11:06] mrook commented on #799
Excellent! Thanks for the feedback 👍

[2017-12-11 11:06] #799 closed

[2017-12-15 16:26] siad007 opened #816 "GitBranchTask failes with git >= 2.15.0"
The `GitBranchTask` will break execution, if git >= 2.15.0
[code]
Related to https://travis-ci.org/phingofficial/phing/jobs/316910026#L1081

[2017-12-18 15:06] mrook commented on #813
The minimum PHP version for Phing 3.x (master) was just bumped to 7.1. Thanks for all your input!

[2017-12-18 15:06] #813 closed

[2017-12-27 00:27] feamsr00 commented on #710
So... @mrook , whats the ETA v3?

[2017-12-27 04:28] mrook commented on #710
@feamsr00 we're aiming to put a first release candidate out in January.

[2017-12-27 04:29] #816 closed

[2017-12-27 11:33] kenguest commented on #710
That dependency has already been removed and replaced with the new
FileSystem::which method.

On 27 Dec 2017 4:28 AM, "Michiel Rook" <notifications@github.com> wrote:

[2017-12-28 02:07] #766 closed

[2017-12-28 15:42] manarth opened #824 "Enable HttpRequestTask to validate response codes"
The ```http-request``` task offers a parameter to validate the response body against a regex, but the http status code is not provided or checked.

This differs from the ```httpget``` task, which raises a Build failure if the response code is not 200.

It would be useful to have a way to validate that the response-code matched expectations. This could be implemented in a similar way to the ```resp

[2017-12-28 16:14] siad007 commented on #824
It seems to me, that this behavior is covered by the `http` [condition](https://www.phing.info/docs/master/hlhtml/index.html#conditions) i.e.

[code]
Would this cover your needs?

[2017-12-28 16:18] manarth commented on #824
The ```httpget``` task will throw a build exception, but the ```http-request``` task doesn't check the status code in any way, so even if it encounters an error, it doesn't stop the build.

I've created a PR which adds these checks - https://github.com/phingofficial/phing/pull/826

[2017-12-28 16:28] manarth commented on #824
In retrospect, you're right: my particular use-case is covered by the ```http``` condition (I'm pinging a server before attempting a large number of requests).

The PR may potentially be useful to other use-cases though (e.g. using ```http-request``` to post to an API, and verify something like a 201).

[2017-12-28 17:43] siad007 commented on #538
The documentation describes this behavior now https://github.com/phingofficial/phing/commit/bf4f00f3518a9b11d3d7ad463ebc6ff117ebe741 - feel free to reopen this ticket, if there is something missing

[2017-12-28 17:43] #538 closed

[2017-12-28 17:50] siad007 commented on #572
Ticket closed - internal tests should not be part of the productional phing tool. If there is something else needed i.e. extracting the test folder to a separate repository feel free to open a PR or do it on your own.

[2017-12-28 17:50] #572 closed

[2017-12-28 17:57] siad007 commented on #570
@mrook Is this issue still of interest?

[2017-12-28 18:02] siad007 commented on #552
Chapter for logger and listener was added.

[2017-12-28 18:02] #552 closed

[2017-12-28 23:31] mrook commented on #552
See #822 for reference.

[2017-12-29 13:53] mrook commented on #570
It might be, because of the incompatibilities between 2 and 3. However, some of those are not trivial to build a compat layer for. I guess we'll have more/better info about that once we release RC1?

[2018-01-09 14:36] #548 closed

[2018-01-09 14:36] #549 closed

[2018-01-09 14:36] #550 closed

[2018-01-09 21:54] dehrk opened #853 "PhpCodeSnifferTask doesn't work with phpcs phar"
If only the phar is installed on the system, these lines throw an exception:
https://github.com/phingofficial/phing/blob/master/classes/phing/tasks/ext/PhpCodeSnifferTask.php#L413-L420

[2018-01-17 15:50] #531 closed

[2018-01-17 23:32] akellehe commented on #712
Thanks for documenting, @aboullaite, @chrisjohnson00, and @siad007 👏

[2018-01-25 15:47] Gadgetdude opened #858 "ConsoleInputHandler isn't Symfony 4 compatible"
I have just updated to the latest version that includes Symfony 4 support, but it unfortunately breaks console input. The method `setInputStream` of the `Symfony\Component\Console\Helper\QuestionHelper` class has been removed in Symfony 4. Currently the `ConsoleInputHandler` class still uses it. This results in a fatal error.
[code]

This was introduced in pull request #807.

_Unfortunately I curr

[2018-01-29 12:16] useltmann opened #861 "download for phing 2.16.0 points to phing 2.16.1"
The download-url *http://www.phing.info/get/phing-2.16.0.phar* appearently downloads phing version 2.16.1. At least its SHA-hash is the one for 2.16.1.

[code]

[2018-01-29 12:19] mrook commented on #861
Looks like the 2.16.0 phar was overwritten with the last release, I'll see if I can restore that. Thanks for pointing it out.

[2018-01-29 12:21] mrook commented on #858
Looks like that is broken in 3.x then as well (but the tests didn't catch it there unfortunately). Maintaining compatibility with symfony 3 might be a little tricky.

[2018-02-03 20:18] #858 closed

[2018-02-13 09:38] mrook commented on #861
This should now be fixed.

[2018-02-13 09:38] #861 closed

[2018-02-13 15:04] mrook commented on #712
Is that a Mac-specific thing that needs to be added to the `Vagrantfile`?

[2018-02-13 15:06] mrook commented on #570
Closing this issue for now, let's re-open if we find a need after releasing RC1.

[2018-02-13 15:06] #570 closed

[2018-02-13 15:08] mrook commented on #588
The groups "Main targets" and "Subtargets" are sufficient for now (in my opinion at least!), so closing this issue.

[2018-02-13 15:08] #588 closed

[2018-02-13 15:10] siad007 commented on #712
On windows i cannot reproduce this behaviour but i think the solution

seems to work for a few people

[2018-02-13 15:12] mrook commented on #545
Stale issue cleanup.

[2018-02-13 15:12] #545 closed

[2018-02-13 15:12] mrook commented on #541
Stale issue cleanup.

[2018-02-13 15:12] #541 closed

[2018-02-13 15:13] mrook commented on #555
Stale issue cleanup.

[2018-02-13 15:13] #555 closed

[2018-02-13 15:13] mrook commented on #563
Stale issue cleanup.

[2018-02-13 15:13] #563 closed

[2018-02-13 15:14] mrook commented on #542
Stale issue cleanup.

[2018-02-13 15:14] #542 closed

[2018-02-13 15:14] mrook commented on #561
Stale issue cleanup.

[2018-02-13 15:14] #561 closed

[2018-02-13 15:17] mrook commented on #712
@siad007 understood, can you add that?

[2018-02-13 15:17] mrook commented on #721
Stale issue cleanup.

[2018-02-13 15:17] #721 closed

[2018-02-13 15:18] mrook commented on #853
Duplicate of #803.

[2018-02-13 15:18] #853 closed

[2018-02-13 15:25] mrook commented on #566
Suggestion: run composer without `--no-dev` while building the .phar?

[2018-02-13 15:30] mrook commented on #684
#685 also tries to solve this.

[2018-02-13 15:31] mrook commented on #684
#695 also tries to solve this.

[2018-02-14 08:58] mrook commented on #684
Closed by merging #695.

[2018-02-14 08:58] #684 closed

[2018-02-14 09:02] mrook commented on #700
On second thought, not that much duplication, probably not worth the refactoring effort (right now).

[2018-02-14 09:02] #700 closed

[2018-02-14 09:17] mrook commented on #716
#803 is related.

[2018-02-14 15:12] mrook commented on #558
Fixed by merging #701.

[2018-02-14 15:12] #558 closed

[2018-02-14 15:49] akellehe commented on #712
If you keep having this trouble let me know, I found some workarounds.

On Tue, Feb 13, 2018 at 10:17 AM, Michiel Rook <notifications@github.com>
wrote:

--
Andrew K Kelleher
Brooklyn, NY

[2018-03-10 16:58] BentCoder commented on #712
In my case the solutions was:

[code]

[2018-03-14 22:23] #712 closed

[2018-03-14 22:54] kenguest commented on #805
Logged requirement for supporting "svn revert" in VersionControl_SVN at https://pear.php.net/bugs/bug.php?id=23743

[2018-03-17 22:25] siad007 commented on #644
I will close this issue as of changes to the core - feel free to reopen if needed.

[2018-03-17 22:25] #644 closed

[2018-03-18 20:56] maciejlew opened #887 "Failing test ForeachTaskTest::testLogMessageWithFileset"
I noticed that ForeachTaskTest::testLogMessageWithFileset is failing. Here you have PHPUnit output:

./bin/phpunit --configuration=test/phpunit.xml test/classes/phing/tasks/system/ForeachTaskTest.php
PHPUnit 6.5.7 by Sebastian Bergmann and contributors.

Runtime:       PHP 7.1.15-1 with Xdebug 2.6.0
Configuration: /home/xxx/phing/test/phpunit.xml

...E....

[2018-03-20 11:06] mrook commented on #887
What version of phing? Can't reproduce this locally.

[2018-03-21 16:19] maciejlew commented on #887
head of master branch

[2018-03-21 17:06] maciejlew commented on #887
This test is failing when you fire it without using phing but directly, compare:

phpunit --configuration=test/phpunit.xml test/classes/phing/tasks/system/ForeachTaskTest.php

phing -Dtest=ForeachTaskTest

thats becouse Phing::$currentProject is not being populated.

[2018-03-26 09:50] mrook commented on #795
@ThomasWeinert I've added .asc files for the 2.16.0 and 2.16.1 releases, and added them (including the phars) to the respective GitHub release. Can you verify this is working?

[2018-03-26 17:14] ThomasWeinert commented on #795
Not yet. Here is the log:

[code]

It looks like the key was not uploaded/published to the servers. Here is a HowTo: https://phar.io/howto/uploading-public-keys.html

[2018-03-26 19:12] ThomasWeinert commented on #795
Thanks, tested and confirmed working.

I created a new merge request for the phing alias: https://github.com/phar-io/phar.io/pull/33

[2018-03-26 19:13] mrook commented on #795
Cool. New releases (all 3.x versions) will have the `.asc` files automatically generated. At some point I may even automatically push the gh release :-)

Thanks for your involvement! Closing this ticket now, feel free to reopen if something else pops up.

[2018-03-26 19:13] #795 closed

[2018-03-28 14:54] mrook opened #891 "Generated .phar is a bit big"
After #566 the generated `.phar` file has grown considerably (85 mb for 3.0.0-alpha1). Unfortunately, enabling compression results in issues that are probably related to https://bugs.php.net/bug.php?id=58169.

[2018-03-28 14:59] mrook commented on #636
Anyone interested in (beginning) a PR for this?

[2018-03-29 12:34] mrook commented on #891
Setting `ulimit` to a large number (there are approximately 13k files in the `.phar`) makes it pass, but after compression the file is still around 25mb.

[2018-04-04 20:48] #887 closed

[2018-04-04 20:49] #560 closed

[2018-04-14 16:41] #565 closed

[2018-04-14 16:41] #585 closed

[2018-04-14 16:41] #564 closed

[2018-04-14 16:41] #586 closed

[2018-04-14 16:41] #660 closed

[2018-04-14 16:41] #583 closed

[2018-04-14 16:41] #587 closed

[2018-04-25 10:49] Yousha opened #914 "Could not create task/type: 'jsonvalidate'"
Using PhING 2:

[2018-04-25 10:54] mrook commented on #914
JsonValidate is part of Phing 3.x (3.0.0-alpha1 is currently released), it will not be part of Phing 2.

[2018-04-25 10:57] Yousha opened #915 "'notify-send' is not recognized as an internal or external command"
Tried to use `<notifysend title="" message=""/>` in Windows OS, but failed:

So this NotifySendTask only works on Linux systems... which is not mentioned in the docs!
In Windows, it must be **msg.exe** or something else

PhING 2.16.1

[2018-04-25 10:58] Yousha commented on #914
No-one mentioned it in the docs...
https://www.phing.info/phing/guide/en/output/hlhtml/#JsonValidateTask

[2018-04-25 11:00] mrook commented on #914
Yep, you're right. The linked documentation is for 3.0, it should more clearly state that.

[2018-04-25 12:02] mrook commented on #914
The documentation has been updated with the target Phing version in the header. Sorry for the inconvenience.

[2018-04-25 12:02] #914 closed

[2018-05-01 22:48] #772 closed

[2018-05-04 07:10] mrook opened #919 "Add symfony/yaml ^2.8 to restore PHP 5.4 compatibility"

[2018-05-22 20:04] kenguest commented on #915
the notifysend task will work with this port of the tool - http://vaskovsky.net/notify-send/

[2018-05-24 13:00] mrook commented on #919
Refs b91d3c3d64328191444d3a513ea66e369ea959d9

[2018-06-04 14:48] #915 closed

[2018-06-11 21:07] #824 closed

[2018-06-20 19:34] mpdude commented on #616
Just for the record, I am still using this branch/feature in production every day and we’ve built a valuable, flexible build tool and process around it.

I understand that we cannot make these changes before a 3.0. It’s a bit of a catch-22 that I cannot invest the time to port these changes to yet another prospective 3.x branch unless a release seems realistic. On the other hand, I value (and prob

[2018-06-24 13:46] mrook commented on #616
I'd say we can still do this in `master`; even though we have a first alpha out for 3.0, nothing is locked down yet. Are you able to cross-port this to current `master`?

[2018-06-25 14:55] mrook commented on #566
I think we've got most of the deps in the .phar now, compression woes continue in #891.

[2018-06-25 14:55] #566 closed

[2018-07-02 21:57] siad007 commented on #637
Fixed in #735

[2018-07-02 21:57] #637 closed

[2018-07-05 17:04] kniziol commented on #716
Hi everyone. Are there any new information about support for `squizlabs/php_codesniffer` 3+?

[2018-07-05 18:49] mrook commented on #716
Hi @kniziol - there hasn't been any work on the phpcodesniffer task yet, sorry. Pull requests are very welcome! I don't think maintaining compatibility with 2.x is going to be useful though.

[2018-07-06 16:47] Yousha opened #943 "Missing ${file.separator} ?"
I think PHING is missing the built-in property `${file.separator}` or something... which can be used as File separator

/ on Unix and \ on Windows

mydir`${file.separator}`anotherdir`${file.separator}`myfile.txt

[2018-07-07 12:57] siad007 commented on #943
@Yousha thanks for reporting. You are absolute right that this system properties are missing. Therefor i added `file.separator` and `path.separator` to the master branch in 342b86b6a62ec02067e203a6b2b09c953d0079dc

[2018-07-07 12:57] #943 closed

[2018-07-09 18:05] dmromanov opened #944 "Archive task on master branch throws an error"
Archive task on master branch throws an error.

Phing 2bd038062732194173e200f42c076070beda61be

Build.xml
[code]

Output
[code]

[2018-07-20 16:35] #803 closed

[2018-07-20 17:35] #806 closed

[2018-07-22 13:05] #944 closed

[2018-07-23 20:55] kenguest opened #946 "The output property of the GitLog task should be trimmed."
Without calling trim() on the value set to the outputProperty value, trailing newlines get included, requiring trim being called after the fact...

[2018-07-25 15:11] liyueliyue opened #948 "ansible在远程机器上启动docker容器抱下面这个错，大神麻烦指导下 0=0🙏"
TASK [docker : install docker-py] ************************************************************************************************************************************************
ok: [127.0.0.1]

TASK [docker : service on] *******************************************************************************************************************************************************
ok: [127.0.0.1]

TASK [do

[2018-07-25 20:05] mrook commented on #948
I'm not entirely sure what this log dump has to do with Phing. Can you clarify @liyueliyue ?

[2018-07-26 19:43] kenguest commented on #946
Fixed and merged in https://github.com/phingofficial/phing/pull/947

[2018-07-26 19:43] #946 closed

[2018-08-01 16:08] mquinn123 opened #952 "Compatability with phpunit7?"
Is there compatibility with phpunit 7?

I am getting this error:

`PHP Fatal error:  Declaration of PHPUnitTestRunner6::addError(PHPUnit\Framework\Test $test, Exception $e, $time) must be compatible with PHPUnit\Framework\TestListener::addError(PHPUnit\Framework\Test $test, Throwable $t, float $time): void in /vendor/phing/phing/classes/phing/tasks/ext/phpunit/PHPUnitTestRunner6.php on line 27
`

[2018-08-15 16:29] #543 closed

[2018-08-15 16:29] #539 closed

[2018-08-15 16:29] #536 closed

[2018-08-15 16:29] #534 closed

[2018-08-15 16:29] #533 closed

[2018-08-15 16:29] #547 closed

[2018-08-20 14:03] mrook commented on #616
@mpdude ^

[2018-08-21 07:11] mpdude commented on #616
Basically yes, I‘d like to do this. Spare time is a bit of an issue right now... 😑

[2018-08-21 07:12] mrook commented on #616
Understood! No rush :-)

[2018-08-21 08:02] kenguest commented on #616
damn overeager bot...

On 21 August 2018 at 08:12, Michiel Rook <notifications@github.com> wrote:

--
http://about.me/kenguest/

[2018-09-04 15:21] Destroy666x opened #960 "SymfonyConsole - ProgressBar output incorrect"
Using latest stable Phing and Symfony 3.4, my output looks like this:
![1](https://user-images.githubusercontent.com/3606072/45040708-e500fc80-b066-11e8-9ffb-a3d33abd88f5.png)
So basically ProgressBars are printed first, then regular writes are below in blue text.

https://github.com/phingofficial/phing/blob/master/classes/phing/tasks/ext/SymfonyConsole/SymfonyConsoleTask.php#L217-L221 - not sure

[2018-09-09 09:07] XedinUnknown commented on #919
How is it a dev-dependency if the code [requires](https://github.com/phingofficial/phing/blob/b4532bb8146841e5f60c1378e7d572bf8692a194/classes/phing/system/io/YamlFileParser.php#L48) it?

[2018-09-10 06:40] mrook commented on #919
@XedinUnknown the commit you are referring to is part of 3.x, not 2.x. The 2.x version checks for the presence of `symfony/yaml` (https://github.com/phingofficial/phing/blob/2.16.1/classes/phing/system/io/YamlFileParser.php), 3.x assumes it.

[2018-09-15 12:50] XedinUnknown commented on #919
Both parser classes, yours and Symfony's, have their main methods as non-static instance methods. Why not inject Symfony's parser instead of assuming or checking for anything?

[2018-09-29 13:40] siad007 commented on #960
@Destroy666x Would you mind to have a look at #961 if it suites your needs?

[2018-09-29 20:48] siad007 commented on #952
@mquinn123 would you mind to check if the pr #962 fix the issue?

[2018-10-03 16:56] #952 closed

[2018-10-08 10:12] MaXal opened #970 "Fatal error: Declaration of PHPUnitResultFormatter7::addError must be compatible with PHPUnit\Framework\TestListener::addError"
The issue reproducible on PHP 7.1:

```Fatal error: Declaration of PHPUnitResultFormatter7::addError(PHPUnit\Framework\Test $test, Throwable $e, float $time): void must be compatible with PHPUnit\Framework\TestListener::addError(PHPUnit\Framework\Test $test, Exception $e, $time) in /app/vendor/phing/phing/classes/phing/tasks/ext/phpunit/formatter7/PHPUnitResultFormatter7.php on line 29```

[2018-10-08 14:35] MaXal commented on #970
We were using PHPUnit 6.5. I've tested now with the 7.3 and all works fine! Thank you and sorry for the false alarm.

[2018-10-08 14:35] #970 closed

[2018-10-15 07:25] GrzegorzDrozd opened #971 "phing.tasks.system.ExecTask doesn't support the 'env' creator/adder.'"
Hi,

According to the documentation I should be able to set env variables for exec task: https://www.phing.info/phing/guide/en/output/chunkhtml/ExecTask.html
But when I do that I am getting this error:
[code]

My build file looks like this:
[code]

Phing version:
[code]

[2018-10-15 07:43] mrook commented on #971
Hi @GrzegorzDrozd, the `env` tag is not available in the 2.x series, only in 3.x (an alpha version has been released).

[2018-10-15 07:47] GrzegorzDrozd commented on #971
Does 3.x version works on php 5.6.x?
Maybe a tag or some comment in documentation with that information?

[2018-10-15 07:48] mrook commented on #971
No, 3.x is targeted for PHP 7+. I'll add a note to the phing.info site.

[2018-10-18 14:59] mrook commented on #971
Made a note in https://github.com/phingofficial/phingofficial.github.io/commit/c994c616387ad773cbd946703bc65331a2fea9d5. Thanks!

[2018-10-18 14:59] #971 closed

[2018-10-18 15:00] mrook commented on #891
Good enough for now.

[2018-10-18 15:00] #891 closed

[2018-10-20 15:56] siad007 commented on #805
@kenguest are you sure there is something missing? https://github.com/pear/VersionControl_SVN/blob/master/VersionControl/SVN/Command/Revert.php

[2018-10-21 00:02] siad007 commented on #960
@Destroy666x ping

[2018-10-24 01:35] RodriAndreotti opened #978 "Apigen 5"
The integration with the problem with version 5.0 of ApiGen, apparently version 5 no longer has the source option, having changed the basic syntax to:
`apigen generate <source> --destination = <destination>`

Could I try to develop a fix for this and perform a pull request?

In case I would try to maintain backward compatibility

[2018-10-24 08:46] kenguest commented on #978
Please do, and there's no need to ask :-) Thanks for wanting to help!

[2018-10-24 14:41] RodriAndreotti commented on #978
Anytime!

I just found out that there are some other options too, which has problem like the --title.

I am trying to get the new syntaxes in the documentation (which is very scarce) and in the source code of ApiGen, and so already do all the correction;)

[2018-10-24 21:17] RodriAndreotti commented on #978
Well, guys!

I made some changes here, but I ended up noting that ApiGen version 5 is full of bugs yet, and seems a bit abandoned too, many options that were passed via command-line parameters are no longer there (in fact there are now two or three only ).
The rest is done through a configuration file, but even creating this file, apigen was unable to generate the documentation for my project, so

[2018-10-24 21:29] siad007 commented on #978
Related to
https://github.com/ApiGen/ApiGen/issues/1020

Rodrigo Texeira Andreotti <notifications@github.com> schrieb am Mi. 24.
Okt. 2018 um 23:17:

[2018-10-27 14:57] Zeromax opened #980 "PHPStan Task does not fail during errors"
**Setup:**
Using the latest master branch 4c47f5a1da93b756e481e818912763cec02e0bfe

**Problem Description**
I am implementing the PHPStan Task like I have found in the Documentation. But it does not fail if an Error occures.

[code]

**Expected**
The Task sould show an Error Result and Fail.
If I run directly:
`phpstan analyse --level=7 src tests`
It Fails and showing me the error output like:
[co

[2018-11-08 11:39] #980 closed

[2018-11-19 03:01] zdragon11 opened #996 "tar the git files which only update or new add, support or not , how can i do it? @siad007"

[2018-11-20 10:50] mrook commented on #996
@zdragon11 please open issues only for problems/bugs/feature requests. To ask general questions about how to use Phing, please refer to one of the communication channels listed at the bottom of https://www.phing.info/

[2018-11-20 10:50] #996 closed

[2018-11-20 11:10] #805 closed

[2018-11-23 15:51] #636 closed

[2018-11-29 13:48] Zeromax opened #997 "Question: How to disable xDebug for running phing?"
Hello,

just a small question: When running phing on a developer machine with xDebug it still trys to debug phing too.

Is there a way to prevent xDebug from debugging phing?

Thanks for your efforts.

[2018-11-29 14:31] kenguest commented on #997
hi Andreas,

If you are able to invoke phing via php, eg
$ php /usr/local/bin/phing.phar -l

Then you should be able to use php -c differentphp.ini ... to specify a
php.ini that does not have xdebug enabled.

failing that, if you are using eg the bash script /usr/bin/phing you would
need to edit it to contain the -c noxdebugHerePhp.ini file
(or whatever you name it ;-) )

Ken

On Thu, 29 Nov 2018

[2018-11-30 11:50] Zeromax commented on #997
Hi Ken,

thanks for your reply. I tried it but it didn't work. I came up with this solution:
[code]
Andreas

[2018-11-30 11:50] #997 closed

[2018-12-02 09:34] mrook commented on #960
Considered fixed by #961 - please re-open if it didn't.

[2018-12-02 09:34] #960 closed

[2018-12-05 14:28] MaximilianKresse opened #1003 "Feature request: Disable Input"
I want to integrate phing into my Teamcity build process.

Is there is simple way to disable the input? (e.g. in composer there is a "--no-interaction" option)

As far as I can see the only way is to write a own class which implements InputHandler and registers nothing like:
[code]
And call phing with the argument "-inputhandler NoInteractionInputHandler".

It would be cool if there would be a sim

[2018-12-05 14:30] mrook commented on #1003
Hi @MaximilianKresse, whether phing asks for input is typically dependent on the build file, so I'm not entirely sure this feature makes sense.

[2018-12-05 14:40] MaximilianKresse commented on #1003
Yeah thats right but I want to be sure that my build process will not run forever if there is a prompt.

Would it hurt to have a "NoInteractionInputHandler"? There isn't much code to care about ;-)

[2018-12-05 14:44] mrook commented on #1003
Fair enough! No it wouldn't hurt that much ;-) Pull requests welcome!

[2018-12-09 13:09] siad007 commented on #1003
Merged in #1004

[2018-12-09 13:09] #1003 closed

[2019-01-02 00:19] siad007 commented on #978
As long as apigen has no new maintainer I will close this ticket.

[2019-01-02 00:19] #978 closed

[2019-01-02 14:07] siad007 opened #1013 "Add infection task"
It would be awesome to support the mutation test framework `infection` with an own task.

Related to https://github.com/infection/infection/issues/592

[2019-01-02 16:03] marcelloh commented on #1013
I was trying this, but stranded :-(
this is my phing build file:
[code]
see my conversation here:
https://github.com/infection/infection/issues/592

[2019-01-02 16:13] siad007 commented on #1013
@marcelloh some suggestons:
* try using phing as a composer dependency like inflection with `dev-master` branch
* post the output from `phing -debug infection`
Can you post the actual `phing -debug infection` before?

[2019-01-02 16:19] marcelloh commented on #1013
my output:
[code]

[2019-01-02 16:30] siad007 commented on #1013
When the command
[code]
succeedes without phing than I guess there might be a folder permissions problem on windows. I will try to reproduce this behavior. In the meantime you can try using the `attrib` task for windows tweaking your permissions. See https://www.phing.info/phing/guide/en/output/hlhtml/#AttribTask

[2019-01-02 19:34] siad007 commented on #1013
@marcelloh I added `infection` to one of my projects, made a fresh `build.xml` file and everything is working as expected:

**build.xml**
[code]

**Output:**
[code]

[2019-01-02 19:42] siad007 commented on #1013
You could try additional verbosity:
[code]

[2019-01-03 07:12] marcelloh commented on #1013
done the -vvv
[code]

The attrrib task is vague, because:
[code]
makes all ".xml" files below ${meta.inf} readable ???
which seems misinformation. But how to make them writable?
(anyway, I delete the infection directory upfront, so everything infection is generating, must be the way it wants them to be, I suppose.

[2019-01-03 07:14] marcelloh commented on #1013
btw: I noticed you do:
[code]
but when I do that, I'll get:
[code]

[2019-01-03 07:18] marcelloh commented on #1013
I also tried (a slightly modified version),
[code]
which still gives me:
[code]

[2019-01-03 07:41] marcelloh commented on #1013
I also tried to debug infection, but somehow it ens at the passthru command, when the debug session it not passed on to.
This is the command:
[code]
My command would be:
[code]
So I changed the passthry command to be a working one, to be able to debug more.
I come all the way to:
InfectionCommand->execute
where it does this:
$codeCoverageData = $this->getCodeCoverageData($testFrameworkKey);
The lo

[2019-01-03 11:48] siad007 commented on #1013
@marcelloh this file is generated by infection and the infection command generation and execution is done by phing.

[2019-01-03 13:54] marcelloh commented on #1013
obviously, this file is not generated by infection, because it is complaining about  it.
(See my previous messages about it.) But the thing is, it IS generating it, when I do it normally via the commandline, so it must be something that is different.

[2019-01-03 14:02] siad007 commented on #1013
It is generated by the test framework you use inside infection. As you can see on my example it is working just fine with phing. Maybe you should use phing as a command or as a composer dependency instead of `require_once` it.

[2019-01-03 14:05] siad007 commented on #1013
But without a reproducable example, I am not able to give you more info.

[2019-01-03 14:22] marcelloh commented on #1013
when I do it via a separate batch file (start_phing) which has the following command:
[code]
And it still gives me that infection can't find :
./infection/temp/infection/coverage-xml/index.xml is not found.

when I do the same without phin, but call infection via a batch file:
[code]
it works (I think because it gets all the debugging extra's with it.)

[2019-01-03 14:30] siad007 commented on #1013
As a last try: could you try phing dev-master instead of 3.0.0-alpha? Maybe an issue which was solved already?

[2019-01-03 14:30] siad007 commented on #1013
You do not need to close as I am working on a single task for infection.

[2019-01-03 14:31] marcelloh commented on #1013
Ok, fine to hear that and, if you need a tester :-) ....

[2019-01-04 13:51] siad007 commented on #1013
@marcelloh would you mind update your phing to the new alpha release - i discovered a bugfix, which fixed an issue of argument escaping under windows. See #735
This could resolve your issue with the exec task.

[2019-01-07 09:04] marcelloh commented on #1013
I had a long weekend so sorry for the delay.  I have the alpha 2 now, but with the same result:
[code]

[2019-01-10 09:14] marcelloh opened #1016 "Wish: <phingcall target="do.this" override="true">"
when I call target "do", I expect the property "done" to be "Y"
Since there is no override option, it will keep "done" to "N" (because of the local scope),
but this new override="true" will ignore the local scope, whish will be handy for reusing targets as subroutines.
(I was experimenting with dynamic properties and targets handling those, but unfortunately, I found out about the local scope)
[co

[2019-01-16 13:22] siad007 commented on #1016
@marcelloh Properties are immutable. So what you are looking for could be the mutable version of a property called `var`. See doc https://www.phing.info/phing/guide/en/output/hlhtml/#Variable

[2019-01-16 14:16] mrook commented on #919
PHP 5.6 was EOL'ed Dec 31, 2018, so I don't think it makes a lot of sense to spend more time on this.

[2019-01-16 14:16] #919 closed

[2019-01-17 08:34] marcelloh commented on #1016
So I tried to follow your advice:
[code]
Outputs:
[code]
I think, the last echo should output the last status of the var "action",
which is set to "Yelled". So this seems like some bug? (idk)

[2019-01-17 17:21] siad007 commented on #1016
Override your properties like in your first example:
[code]
gives me:
[code]
As you can see `[echo] initial N` initial property `done` with value `N` is changed inside `do.this` to `Y` (`[echo] done overridden in 'do.this': Y`) and back inside target `do` it is again `N` (` [echo] done 'do': N`)

Your `var` example works as expected as the `echo` is before your `var` task.
Try this instead:
[code]

[2019-01-17 17:24] siad007 commented on #1016
For general questions you can always use our slack channel here https://www.phing.info/slack/

[2019-01-17 17:24] #1016 closed

[2019-01-18 06:57] marcelloh commented on #1016
Sorry, you said to use var because it is mutable,
but in your example, in the end line (target do):
<echo level="warning" msg="end ${action}" />
the action should be "Yelled" since that is the last value, that was put in (via target do.this)
so, this seems like a bug to me. or am I missing something?

[2019-01-25 14:49] hlorofos opened #1018 "Parallel doesn't compatible with PHP7.3"
I've the following target
[code]

This works perfectly with PHP7.1, but gives the following error with PHP7.3.1
`[PHP Error] fread(): Length parameter must be greater than 0 [line 122 of ./vendor/phing/phing/classes/phing/contrib/DocBlox/Parallel/WorkerPipe.php]`

[2019-01-26 22:04] siad007 commented on #1018
@hlorofos Please update to phing 3. The file mentioned in the error description does not longer exists in our repo.

[2019-01-26 22:04] #1018 closed

[2019-02-10 09:27] jawira opened #1030 "Bug when using <linecontains> filter on large files"
When applying `<filtercontains>` on large files, some lines in the resulting file are concatenated.

To reproduce the bug you need a large file, I generated mine using this script:

[code]
After executing this script you should have the file `lines.txt` which contains 10000 lines:

[code]

Now to reproduce the bug I created a buildfile like this:

[code]

The `filter` target will remove all line w

[2019-02-10 16:50] siad007 commented on #1030
Hello @jawira
after a little test, I discovered an other issue regards to the `0` value of `contains`, which somewhere changes to an empty string. But your issue was not reproducable on the latest master branch by myself.
[code]
will lead in a line by line file with no line break missing.

The issue I discovered is by using `<contains value="0"/>` which gives me the output:
[code]

I will have a l

[2019-02-10 19:11] jawira commented on #1030
Hi, thanks for replying so fast. I tried your code and found the bug in `filtered.txt` twice:

[code]
Then, I changed the value to `<contains value="8"/>` and also found the bug twice. Maybe this is SO specific? (I use Ubuntu).

I will try to found the bug during this week.

[2019-02-10 19:13] siad007 commented on #1030
Do you use dev-master?

[2019-02-10 19:30] jawira commented on #1030
Yes, I tested with dev-master

[2019-02-11 19:04] jawira commented on #1030
I found the problem, I'm working in a fix

[2019-02-11 19:56] siad007 commented on #1030
Would you mind beeing more descriptive here?

[2019-02-12 13:26] jawira commented on #1030
It turns out that `<linecontains>` doesn't read big files in one pass, but in multiple batches.

Because the `implode` function is used, no "\n" is added at the end of the file.

https://github.com/phingofficial/phing/blob/2c237493cd1a286dba93b22c3d8ec17b3aead635/classes/phing/filters/LineContains.php#L104

However, when multiple batches of lines (from one big file) are processed the _last line_ o

[2019-02-12 22:18] siad007 commented on #1030
@jawira would you mind testing against #1033 ?!

[2019-02-13 15:53] jawira commented on #1030
@siad007 It seems good to me, I left some comments in the PR though. Just to be sure, you are not using BufferedReader anymore, right?

[2019-02-14 23:26] siad007 commented on #1030
The StringReader is used see https://github.com/phingofficial/phing/blob/master/classes/phing/filters/BaseFilterReader.php#L56

[2019-02-17 19:54] #1030 closed

[2019-03-03 13:45] siad007 opened #1041 "SuffixLines filter does not preserve line endings"
As seen [here](https://github.com/phingofficial/phing/blob/master/classes/phing/filters/SuffixLines.php#L77) the line endings of a file will not be preserved but overwritten by the used OS.

[2019-03-15 20:05] #1041 closed

[2019-03-20 05:31] splinter89 opened #1046 "Unable to set CLI options for interpreter in PhpLintTask"
I want to pass options to PHP interpreter, for example:
[code]

The output:
[code]

The issue is with [these lines](https://github.com/phingofficial/phing/blob/9e93a6678a46d7b724c2cb70288f5a7f33dd66c2/classes/phing/tasks/ext/PhpLintTask.php#L63-L65), `escapeshellarg()` shouldn't be used on the whole command line.

How about removing those lines and passing $sPhp unchanged?
But then users would be

[2019-03-20 09:45] kenguest commented on #1046
passing $sPhp completely unchanged is a security issue/CVE just waiting to happen.

What happens if you change your command path to include where that php binary is?

[2019-03-20 20:17] siad007 commented on #1046
@splinter89 Something like that should solve your isuue?!
[code]

[2019-03-22 00:32] splinter89 commented on #1046
I get the same error when I include the full path (without spaces) to php.
If I wrap the full path in double quotes myself, then I get "The filename, directory name, or volume label syntax is incorrect."

I will use @siad007's solution for now, thank you.
Some php.ini options are impossible/useless to be changed at runtime, but I guess they shouldn't affect the linting.

[2019-03-22 00:32] #1046 closed

[2019-03-27 11:51] AlroneRhyn opened #1051 "ssh and phing Issue"
Hello,

Since the update of those debian jessie packages (27th of march), the phing sshtask doesn't work any more (FileSyncTask is working though)

libssh2-1:amd64                    1.4.3-4.1+deb8u2
libssh2-1-dev:amd64                1.4.3-4.1+deb8u2

Phing 2.16.0

[PHP Error] ssh2_auth_pubkey_file(): Authentication failed for webadmin using public key: Unable to send userauth-publickey request [

[2019-03-27 12:07] mrook commented on #1051
That doesn't sound like a Phing issue (especially if it used to work before). Could there be a problem with your public key, or something going on with the PHP ssh extension, or libssh? Perhaps you can search one of those projects for known issues.

[2019-03-27 12:18] siad007 commented on #1051
@AlroneRhyn could you post your ssh2 pecl version?

[2019-03-27 12:29] AlroneRhyn commented on #1051
It doesn't work with ssh2-0.13-stable nor ssh2-0.12-beta.
Respectivly 5.6.33+dfsg-0+deb8u1 and 5.6.40+dfsg-0+deb8u1

[2019-03-27 14:34] siad007 commented on #1051
It seems that there are problems using the pecl ssh2 package 0.x with a newer libssh2-1-dev version, as you allready mentioned. What you could do:

- [ ] roll back to the version where it works.
- [ ] add a bug report [@bugs.php.net](https://bugs.php.net/search.php?cmd=display&package_name[]=ssh2&direction=DESC&limit=30&status=Open)
- [ ] update your system to the last debian / php 7.x / phing 3.x

[2019-03-27 14:34] #1051 closed

[2019-03-29 16:19] calligraphic opened #1052 "Flag to force ANSI color output?"
Is there any way to force Phing to output ANSI colors so that it displays colored output when launched from a Composer script? Some other libraries have flags to permit this:

`phpunit --colors=always`
`behat --colors`
`dspec --ansi`

[2019-04-01 13:54] kenguest commented on #1052
I don't think there is - it's a nice idea, always good to have things colour coded if possible.

[2019-04-01 13:58] siad007 commented on #1052
Just try
https://github.com/phingofficial/phing/blob/master/classes/phing/listener/AnsiColorLogger.php

Ken Guest <notifications@github.com> schrieb ram Mo. 1. Apr. 2019 um 09:55:

[2019-04-02 20:25] siad007 commented on #1052
[code]
That gives you a coloured output.

[2019-04-02 20:25] #1052 closed

[2019-04-04 16:15] ogmueller opened #1053 "Dependencies missing in PHAR"
When phing is installed as PHAR (e.g. by phive), it will not include "suggested dependencies" as mentioned on https://packagist.org/packages/phing/phing.

So for example, if I'd like to use the StopwatchTask, it won't work, because the dependency to symfony/stopwatch is not included in the PHAR. As far as I know, there is no option to add this dependency later on.

Would it be possible to add as m

[2019-04-04 16:46] siad007 commented on #1053
Hi which version do you use? AFAIK there was a ticket where this was fixed  https://github.com/phingofficial/phing/issues/566
Would you mind testing it against 3 alpha 2?

[2019-04-04 16:57] mrook commented on #1053
@ogmueller that's correct. At this point the suggested packages have a purely informational value (this is a limitation of composer). I'll think about how to add those packages to the generated .phar.

[2019-04-05 06:32] ogmueller commented on #1053
FYI: I tried to install it via phive and it downloaded phing-3.0.0-alpha2.phar.

[2019-04-07 17:41] mrook commented on #1053
Ref https://github.com/phingofficial/phing/commit/76b94b1cf3cee3791ca9c4622e01e3cb7c271543

[2019-04-08 07:57] kenguest opened #1055 "fieldsets not supported by phpstan task"
Specifying a non-trivial amount of files to be analysed by the phpstan task is unwieldy and cumbersome.
It would be terrific if the phpstan task supported filesets - most other tasks that work with files do.

e.g.
[code]

[2019-05-24 07:33] kenguest opened #1074 "phpcs task to support the --runtime-set parameter"
it would be useful if the phpcs task were to support the --runtime-set parameter

This would be applicable to testing a codebase against a set of Standards such as PHPCompatibility  ((https://github.com/PHPCompatibility/PHPCompatibility)) where you can specify which version of php a codebase should be checked against by passing a testVersion value, e.g.:

`phpcs --standard=PHPCompatibility --runti

[2019-05-28 12:16] kenguest commented on #1074
This is already supported via the <config> subelement.

Mortified...

[2019-05-28 12:16] #1074 closed

[2019-06-27 19:07] jawira commented on #1053
What about using Composer to install dependencies ?

[code]

Then import autoload file from `build.xml` using `AutoloaderTask`:

[code]

This work well with **Phing 2.16.1** :

[code]

But doesn't with **Phing 3.0.0-alpha2** :disappointed: :

[code]

Of course this completely misses the point of using a Phar file, but I think it's a nice workaround.

[2019-06-29 11:59] siad007 commented on #1053
@jawira this looks like a bug - would you mind to open a new ticket. Also it would be very helpful to see the full stacktrace.

[2019-06-30 11:10] jawira opened #1080 "Error while using AutoloaderTask"
Hello, I found a bug while trying to making work [StopwatchTask](https://www.phing.info/phing/guide/en/output/chunkhtml/StopwatchTask.html) with **Phar** version of Phing. You can see the details in another issue: https://github.com/phingofficial/phing/issues/1053#issuecomment-506472982

So I added  `symfony/stopwatch` with Composer, and then used [AutoloaderTask](https://www.phing.info/phing/guid

[2019-06-30 11:11] jawira commented on #1053
Done #1080 :)

[2019-07-02 11:12] fooman opened #1085 "ExecTask arg value=0 seems to get dropped"
With the following exec command

[code]
I get an error message indicating that the last "0" value is missing.

Rewritten as

[code]
it works.

Also when setting to 1 as value, ie

[code]
this also works.

Phing 3.0.0-alpha2

[2019-07-03 06:24] kniziol commented on #716
Here is a workaround:

[code]

[code]

[code]

[2019-07-03 12:30] ogmueller opened #1088 "DeleteTask not working with ACLs"
We are using [file access control lists (ACLs)](https://wiki.archlinux.org/index.php/Access_Control_Lists) on our Linux systems because otherwise, we are not able to delete web server created files (e.g. caches or session files) with a non-root CLI script.

Example: we use `setfacl` on our cache directory like
`setfacl -R -m u:www-data:rwX -m u:some-user:rwX cache`

If the web server (_www-data_)

[2019-07-07 21:13] siad007 commented on #1080
@jawira would you mind to test against the actual master? See #1079

[2019-07-15 12:47] jawira commented on #1080
Hello, is there a way to test actual master as a Phar file?

The thing is, I want to test `AutoloaderTask` but if I use composer to install Phing then this means that I already have autoloaded all required dependencies (i.e. `symfony/stopwatch`). Am I right?

[2019-07-25 16:47] AKhrulev opened #1093 "istrue treats undefined property as "true""
**Version**: Phing 2.16.0
**Scenario**: Execute following build file:

[code]
**Actual result**:

**Expected result**: nothing printed because undefined value of ${undefined.value} must be treated as false.

[2019-07-26 13:57] krukru opened #1094 "Support PHP-CS-Fixer"
Is there any interest in supporting [PHP-CS-Fixer](https://github.com/FriendsOfPHP/PHP-CS-Fixer)?
Phing already has great built-in support for tasks like phpstan, php codesniffer, phpmd, phpcpd and various other tools, is it possible to include php-cs-fixer as well?:)